<!--<div *ngIf="bookletPages.length>0" class="container wow fadeIn">-->
  <!--<br>-->
  <!--<br>-->

  <!--<button style="display: inline;margin-left: 15px;margin-bottom: -15px" type="button"  (click)="loadMore()"  class="btn btn-dark-green btn-sm">بیشتر</button>-->
  <!--<h6 style="float: right;display: inline ;padding-right: 15px" >{{jozzveSection.title}}</h6>-->
  <!--&lt;!&ndash;<a class="btn-floating btn-small blue"><i class="fa fa-star"></i></a>&ndash;&gt;-->


  <!--<div style="position:relative" class="">-->
    <!--<i *ngIf="bookletPages.length > 1"  class="fa fa-chevron-right fa-2x NewNextBtn hand-cursor opacity-hover"  [attr.href] = "'#'+car_id"  data-slide="next" style="position: absolute;-->
  <!--top: 100px;-->
  <!--right: -20px;"></i>-->
    <!--&lt;!&ndash;href="#{{id}}"&ndash;&gt;-->
    <!--<i *ngIf="bookletPages.length > 1"  class="fa fa-chevron-left fa-2x NewPrevBtn hand-cursor opacity-hover" [attr.href] = "'#'+car_id"  data-slide="prev" style="position: absolute;-->
  <!--top: 100px;-->
  <!--left: -20px;"></i>-->
    <!--&lt;!&ndash;book-carousel&ndash;&gt;-->
    <!--<div id="{{car_id}}" #car class="carousel slide carousel-multi-item" data-ride="carousel">-->
      <!--&lt;!&ndash;Slides&ndash;&gt;-->
      <!--<div class="carousel-inner" role="listbox">-->
        <!--&lt;!&ndash;First slide&ndash;&gt;-->
        <!--<div class="carousel-item" *ngFor="let bp of this.bookletPages;let i = index"  [ngClass]="{'active': i === 0}">-->
          <!--<div *ngFor="let bl of bp.jozves;let i = index">-->
            <!--<app-booklet [booklet]="bl"></app-booklet>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


  <!--</div>-->
<!--</div>-->






<br>
<br>
<div class="container">

    <a class="more-link" style=""  (click)="loadMore()"  >بیشتر</a>
  <p style="margin-bottom: 0px;float: right;display: inline-block;vertical-align: top;padding-right: 26px;font-size: 14px" ><strong>{{jozzveSection.title}}</strong></p>
    <div style="clear: both"></div>
    <div style="position:relative" class="">
          <i (click)="owlElement.next([200])"  class="fa fa-chevron-right fa-2x NewNextBtn hand-cursor opacity-hover"    data-slide="next" style="position: absolute;
        top: 100px;
        right: -20px;"></i>
        <!--href="#{{id}}"-->
        <i (click)="owlElement.previous([200])"  class="fa fa-chevron-left fa-2x NewPrevBtn hand-cursor opacity-hover"   data-slide="prev" style="position: absolute;
        top: 100px;
        left: -40px;"></i>
    </div>
  <owl-carousel
    #owlElement
    [options]="{dots: true,
        autoplay:true,
        autoplayTimeout:5000,
        autoplayHoverPause:true,
        loop:true,
        responsiveClass:true,
        responsive:{
        '0':{
            items:1
        },
        '500':{
            items:2
        },
        '800':{
            items:3
        },
        '1000':{
            items:4
        }
       }
    }"
    [items]="jozzveSection.contentList"
    [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item" *ngFor="let content of jozzveSection.contentList;let i = index">
      <app-booklet [forCarousel]="true" [booklet]="content"></app-booklet>
    </div>
  </owl-carousel>
</div>

