@import "../../../vars";
.more-link{
  margin-bottom: 0px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: #ffFFff!important;
  direction: rtl;
  background-color: $primary-color;
  padding: 4px 12px 4px 12px;
  border-radius: 2px;
}
