<script src="assets/common.js"></script>
<script src="assets/paintbrush.js"></script>

<app-header></app-header>

<div class="bg">
    <div class="white-text wow fadeIn " style="width: 100%;height: 150px">
      <div class="container" style="padding-left: 22px;padding-right: 22px">
        <br>
        <div class="row" >
          <!--[hoverEnabled]="true"-->
          <h5 class="h6-responsive" style="text-align: center ;font-size: 16px">{{booklet?.title}}</h5>
          <h6 class="hand-cursor" routerLink="/content/cat/{{booklet?.category?.id}}"  style="color: white !important;text-align: center ;direction: rtl;margin-top: 10px">{{booklet?.category?.parent?.title}} / {{booklet?.category?.title}}</h6>

        </div>
        <br>
      </div>

    </div>

    <div class="container" style="margin-top: -40px">

      <div class="row ">
        <div class="col-lg-3 col-md-4 col-sm-5 ">
            <div class="card wow fadeIn" style="direction: rtl;overflow: hidden">
              <!--<button (click)="openFactorDialog()" *ngIf="booklet?.price > 0 && booklet.files[0].status != 200" type="button" class="btn btn-success btn-sm" style="float: left">{{booklet?.price}} تومان  </button>-->
              <!--<button  *ngIf="booklet?.price > 0 && booklet.files[0].status == 200" type="button" class="btn btn-success btn-sm" style="float: left">خریداری شده </button>-->
              <div *ngIf="booklet?.price > 0 && booklet.files[0].status != 200" class="corner-ribbon top-left red shadow">{{booklet?.price|persainNumberPipe}} تومان </div>
              <div *ngIf="booklet?.price > 0 && booklet.files[0].status == 200" class="corner-ribbon top-left green shadow">خریداری شده</div>
              <div *ngIf="booklet?.price == 0 " class="corner-ribbon top-left green shadow">رایگان</div>
              <p style="text-align: right;font-size: 16px!important;padding-top: 15px;margin-bottom: 0px;padding-right: 30px">باکس دانلود</p>
              <div class="card-block" >


                <div *ngFor="let file of booklet.files">
                    <div class="row">
                      <a  *ngIf="file.status == 200"  [href]="baseContent+'fid='+file.id+'&cuid='+booklet.uid+'&token='+token"  style="margin-right: 20px;font-size: 12px" class="hand-cursor"><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i> {{file.description}} - {{file.size| fileSize| persainNumberPipe}}</a>
                      <h6 *ngIf="file.status == 401" (click)="openLogin()"  style="margin-right: 20px" class="hand-cursor"><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i> {{file.description}} - {{file.size | fileSize| persainNumberPipe}}</h6>
                      <h6 *ngIf="file.status == 402" (click)="openFactorDialog()" style="margin-right: 20px" class="hand-cursor"><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i> {{file.description}} - {{file.size| fileSize| persainNumberPipe}}</h6>
                      <!--<h6 style="margin-right: 30px;color: midnightblue"> {{file.description}}</h6>-->
                    </div>
                </div>

              </div>
              <button (click)="openFactorDialog()" *ngIf="booklet?.price > 0 && booklet?.files[0].status == 402 " type="button" class="btn btn-success" style="float: left">خرید محصول</button>
              <a (click)="openLogin()" *ngIf="booklet?.price > 0 && booklet?.files[0].status == 401 "  style="display: block;font-size:12px;text-align: center;margin-bottom: 10px"> برای خرید ابتدا  <span style="color: #009688;font-weight: 300"> وارد </span> شوید</a>
              <!--<button (click)="openLogin()" *ngIf=" booklet.files[0].status==401" type="button" class="btn btn-success" style="float: left">خرید محصول</button>-->

            </div>

            <div class="card wow fadeIn" style="margin-top: 20px;direction: rtl">
              <p style="text-align: right;font-size: 16px!important;padding-top: 15px;margin-bottom: 0px;padding-right: 30px">برچسب ها</p>
            <div class="card-block" >

              <label *ngFor="let tag of booklet.tags" class="md-chip md-chip-clickable" (click)="contentByTag(tag)" style="margin-top: 3px">
                {{tag.tagString| persainNumberPipe}}
              </label>


            </div>
          </div>

            <!--<div class="card wow fadeIn" style="margin-top: 20px">-->

              <!--<div class="card-block" >-->

                <!--<div *ngIf="booklet?.createdBy?.profileImage?.id !=null " class="round z-depth-2"><img src="{{fileBase + 'fid='+booklet?.createdBy?.profileImage?.id+ '&isThumb=true'}}" >-->
                <!--</div>-->
                <!--<div *ngIf="booklet?.createdBy?.profileImage?.id ==null " class="round z-depth-2"><img src="../../../assets/images/avatat.png" >-->
                <!--</div>-->

                <!--<h6 *ngIf="booklet?.createdBy?.firstName!=null" style="display: inline;float: right;margin-left: 10px;margin-top: 20px;">{{booklet?.createdBy.firstName}}</h6>-->
                <!--<h6 *ngIf="booklet?.createdBy?.lastName!=null" style="display: inline;float: right;margin-top: 20px;">{{booklet?.createdBy.lastName}}</h6>-->
                <!--<button type="button" class="btn btn-success" style="width: 100%;margin: 0px !important;margin-top: 20px!important">مشاهده جزوات کاربر</button>-->
              <!--</div>-->
            <!--</div>-->



        </div>
        <div class="col-lg-9 col-md-8 col-sm-7 ">


          <div>

            <div class="card wow fadeIn">

              <div class="card-block">

                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                          <div class="col-sm-8" style="padding-right: 0px">
                            <h6 *ngIf="booklet?.writeYear!=null" style="text-align: right">{{booklet?.writeYear| persainNumberPipe}}</h6>
                            <h6  *ngIf="booklet?.writeYear==null" style="text-align: right">مشخص نشده</h6>
                            <p style="text-align: right;color: #252f41;font-size: 12px" >سال</p>
                          </div>
                          <div class="col-sm-4" >
                            <!--<i class="material-icons md-24 colorPrimary-color">description</i>-->
                            <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                          </div>
                    </div>
                    <div class="row">
                          <div class="col-sm-8" style="padding-right: 0px">
                            <h6 *ngIf="booklet?.university?.title!=null" style="text-align: right">{{booklet?.university?.title}}</h6>
                            <h6  *ngIf="booklet?.university?.title==null" style="text-align: right">مشخص نشده</h6>
                            <p style="text-align: right;color: #252f41;font-size: 12px" >دانشگاه</p>
                          </div>
                          <div class="col-sm-4" >
                            <!--<i class="material-icons md-24 colorPrimary-color">description</i>-->
                            <i class="fa fa-university " aria-hidden="true"></i>
                          </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-8" style="padding-right: 0px">
                        <!--<star-rating-comp  [readOnly]="true" [showHalfStars]="true" style="float: left" [starType]="'svg'"  [rating]="booklet.avgRate"></star-rating-comp>-->
                        <h6  *ngIf="booklet.avgRate!=null" style="text-align: right">{{booklet.avgRate| persainNumberPipe}}/۵</h6>
                        <h6  *ngIf="booklet.avgRate==null" style="text-align: right">{{'0'| persainNumberPipe}}/۵</h6>
                        <p style="text-align: right;color: #252f41;font-size: 12px" >امتیاز</p>
                      </div>
                      <div class="col-sm-4" >
                        <i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
                      </div>
                    </div>

                    <!--<div class="row">-->
                          <!--<div class="col-sm-8" style="padding-right: 0px">-->
                            <!--<h6 *ngIf="booklet?.writer!=null" style="text-align: right">{{booklet.writer}}</h6>-->
                            <!--<h6  *ngIf="booklet?.writer==null" style="text-align: right">مشخص نشده</h6>-->
                            <!--<p style="text-align: right;color: #252f41;font-size: 12px" >نویسنده</p>-->
                          <!--</div>-->
                          <!--<div class="col-sm-4" >-->
                            <!--&lt;!&ndash;<i class="material-icons md-24 colorPrimary-color">description</i>&ndash;&gt;-->
                            <!--<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>-->
                          <!--</div>-->
                    <!--</div>-->




                    <!--<div class="row">-->
                          <!--<div class="col-sm-8" style="padding-right: 0px">-->
                            <!--<h6 style="text-align: right">۱۳۸۸</h6>-->
                            <!--<p style="text-align: right;color: #252f41;font-size: 12px" >قیمت فروش</p>-->
                          <!--</div>-->
                          <!--<div class="col-sm-4" >-->
                            <!--&lt;!&ndash;<i class="material-icons md-24 colorPrimary-color">description</i>&ndash;&gt;-->
                            <!--<img id="img6" class="font-image" src= '../../assets/images/ic_attach_money.png'>-->
                          <!--</div>-->
                    <!--</div>-->
                  </div>


                  <div class="col-sm-6">
                    <div class="row">
                          <div class="col-sm-8" style="padding-right: 0px">
                            <h6  *ngIf="booklet?.professor!=null" style="text-align: right">{{booklet?.professor}}</h6>
                            <h6  *ngIf="booklet?.professor==null" style="text-align: right">مشخص نشده</h6>
                            <p style="text-align: right;color: #252f41;font-size: 12px" >استاد</p>
                          </div>
                          <div class="col-sm-4" >
                            <!--<i class="material-icons md-24 colorPrimary-color">description</i>-->
                            <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                          </div>
                    </div>
                    <div class="row">
                          <div class="col-sm-8" style="padding-right: 0px">
                            <h6 *ngIf="booklet?.pagesNum!=null" style="text-align: right">{{booklet.pagesNum| persainNumberPipe}}</h6>
                            <h6  *ngIf="booklet?.pagesNum==null" style="text-align: right">مشخص نشده</h6>
                            <p style="text-align: right;color: #252f41;font-size: 12px" >تعداد صفحات</p>
                          </div>
                          <div class="col-sm-4" >
                            <!--<i class="material-icons md-24 colorPrimary-color">description</i>-->
                            <i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i>
                          </div>
                    </div>
                    <div class="row">
                          <div class="col-sm-8" style="padding-right: 0px">
                            <h6 *ngIf="booklet?.downloadsNum!=null" style="text-align: right">{{booklet.downloadsNum| persainNumberPipe}}</h6>
                            <h6  *ngIf="booklet?.downloadsNum==null" style="text-align: right">مشخص نشده</h6>
                            <p style="text-align: right;color: #252f41;font-size: 12px" >تعداد دانلود</p>
                          </div>
                          <div class="col-sm-4" >
                            <!--<i class="material-icons md-24 colorPrimary-color">description</i>-->
                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                          </div>
                    </div>
                    <!--<div class="row">-->
                          <!--<div class="col-sm-8" style="padding-right: 0px">-->
                            <!--<h6 style="text-align: right">صابری</h6>-->
                            <!--<p style="text-align: right;color: #252f41;font-size: 12px" >قیمت اصلی</p>-->
                          <!--</div>-->
                          <!--<div class="col-sm-4" >-->
                            <!--&lt;!&ndash;<i class="material-icons md-24 colorPrimary-color">description</i>&ndash;&gt;-->
                            <!--<img id="img7" class="font-image" src= '../../assets/images/ic_money_off.png'>-->
                          <!--</div>-->
                    <!--</div>-->
                  </div>
                </div>


              </div>
            </div>

            <div  class="card wow fadeIn" style="margin-top: 20px;direction: rtl">
              <p style="text-align: center;font-size: 16px!important;padding-top: 15px;margin-bottom: 0px">توضیحات</p>
              <div class="card-block">
                <p style="font-size: 16px;text-justify: auto;line-height: 20px">{{booklet.description}}</p>
                <p *ngIf="booklet.description == '' || booklet.description == null">ندارد</p>
              </div>

            </div>


          </div>

        </div>
      </div>

      <!--<div class="row">-->


      <!--</div>-->
    </div>

    <div class="container-fluid bg-samples">
      <div class="container">
        <div *ngIf="images.length!=0" class="wow fadeIn" style="margin-top: 20px;direction: rtl;">
          <p style="color: #ffFFff;text-align: center;font-size: 16px!important;padding-top: 15px;margin-bottom: 0px">نمونه ها</p>

          <div class="card-block">
            <div class="col-md-3 " style="float: right" *ngFor="let image of images; let i = index" (click)="gallery.set(i)">

              <img [src]="image.src" class=" img-thumbnail hand-cursor " style="background-color: #fdfdfd" alt="">


            </div>
            <p *ngIf="images.length==0">نمونه ای وجود ندارد</p>
          </div>

        </div>

        <div class=" wow fadeIn" style="margin-top: 20px;direction: rtl">
          <p style="text-align: center;font-size: 16px!important;padding-top: 15px;margin-bottom: 0px">نظرات</p>
          <div class="card-block">
            <div class="row">
              <div *ngIf="comments.length!=0" class="card-block">
                <div *ngFor="let c of comments">
                  <div class="row"  style="margin-bottom: 10px;">
                    <div class="col-sm-2">
                      <star-rating-comp [readOnly]="true" [showHalfStars]="true" style="margin-left: 50%;direction: ltr" [starType]="'svg'" [size]="'small'" [rating]="c.rate"></star-rating-comp>
                    </div>
                    <div class="col-sm-8" style="padding-top: 5px;">
                      <h6 *ngIf="c.createdBy?.firstName!=null">{{c.createdBy?.firstName}}</h6>
                      <h6 *ngIf="c.createdBy?.firstName==null">{{c.createdBy?.username}}</h6>
                      <!--<h6 *ngIf="c.createdBy==null">میهمان</h6>-->
                      <p>{{c.description}}</p>
                    </div>

                    <div class="col-sm-2">
                      <div *ngIf="c.createdBy?.profileImage !=null " class="round-min z-depth-1"><img src="{{baseFile + 'fid='+c.createdBy?.profileImage?.id + '&isThumb=true'}}" >
                      </div>
                      <div *ngIf="c.createdBy?.profileImage ==null" class="round-min z-depth-1"><img src="../../../assets/images/avatat.png" >
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
              <div *ngIf="user!=null" class="card-block">
                <div class="row"  style="margin-bottom: 10px;">
                  <div class="col-sm-2">
                    <star-rating-comp  [showHalfStars]="true" [hoverEnabled]="true" style="margin-left: 50%;direction: ltr" (onRatingChange)="onRatingChange($event)" [starType]="'svg'" [size]="'medium'" ></star-rating-comp>
                    <button  type="button" style="margin-left: 15px" (click)="addComment(commentText.value,userComment.rate)"  class="btn btn-dark-green btn-sm">ارسال</button>
                  </div>
                  <div class="col-sm-8" style="padding-top: 5px;">
                    <h6 *ngIf="user.firstName!=null">{{user?.firstName}}</h6>
                    <h6 *ngIf="user.firstName==null">{{user?.username}}</h6>
                    <input  #commentText  type="text"  class="form-control validate test">
                    <!--<textarea type="text" id="form8" class="md-textarea"></textarea>-->
                  </div>
                  <div class="col-sm-2">
                    <div *ngIf="user?.profileImage !=null " class="round-min z-depth-1"><img src="{{baseFile + 'fid='+user?.profileImage?.id + '&isThumb=true'}}" >
                    </div>
                    <div *ngIf="user?.profileImage ==null" class="round-min z-depth-1"><img src="../../../assets/images/avatat.png" >
                    </div>
                  </div>
                </div>

              </div>
              <p style="text-align: center" *ngIf="user==null">برای ارسال نظر وارد شوید</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!--<div class="container">-->
    <!--<div class="card wow fadeIn" style="margin-top: 20px;direction: rtl">-->
      <!--<p style="text-align: center;font-size: 16px!important;padding-top: 15px;margin-bottom: 0px">نظرات</p>-->
      <!--<div class="card-block">-->
        <!--<div class="row">-->
          <!--<div *ngIf="comments.length!=0" class="card-block">-->
            <!--<div *ngFor="let c of comments">-->
              <!--<div class="row"  style="margin-bottom: 10px;">-->
                <!--<div class="col-sm-2">-->
                  <!--<star-rating-comp [readOnly]="true" [showHalfStars]="true" style="margin-left: 50%;direction: ltr" [starType]="'svg'" [size]="'small'" [rating]="c.rate"></star-rating-comp>-->
                <!--</div>-->
                <!--<div class="col-sm-8" style="padding-top: 5px;">-->
                  <!--<h6 *ngIf="c.createdBy?.firstName!=null">{{c.createdBy?.firstName}}</h6>-->
                  <!--<h6 *ngIf="c.createdBy?.firstName==null">{{c.createdBy?.username}}</h6>-->
                  <!--&lt;!&ndash;<h6 *ngIf="c.createdBy==null">میهمان</h6>&ndash;&gt;-->
                  <!--<p>{{c.description}}</p>-->
                <!--</div>-->

                <!--<div class="col-sm-2">-->
                  <!--<div *ngIf="c.createdBy?.profileImage !=null " class="round-min z-depth-1"><img src="{{baseFile + 'fid='+c.createdBy?.profileImage?.id + '&isThumb=true'}}" >-->
                  <!--</div>-->
                  <!--<div *ngIf="c.createdBy?.profileImage ==null" class="round-min z-depth-1"><img src="../../../assets/images/avatat.png" >-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<hr>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div *ngIf="user!=null" class="card-block">-->
            <!--<div class="row"  style="margin-bottom: 10px;">-->
              <!--<div class="col-sm-2">-->
                <!--<star-rating-comp  [showHalfStars]="true" [hoverEnabled]="true" style="margin-left: 50%;direction: ltr" (onRatingChange)="onRatingChange($event)" [starType]="'svg'" [size]="'medium'" ></star-rating-comp>-->
                <!--<button  type="button" style="margin-left: 15px" (click)="addComment(commentText.value,userComment.rate)"  class="btn btn-dark-green btn-sm">ارسال</button>-->
              <!--</div>-->
              <!--<div class="col-sm-8" style="padding-top: 5px;">-->
                <!--<h6 *ngIf="user.firstName!=null">{{user?.firstName}}</h6>-->
                <!--<h6 *ngIf="user.firstName==null">{{user?.username}}</h6>-->
                <!--<input  #commentText  type="text"  class="form-control validate test">-->
                <!--&lt;!&ndash;<textarea type="text" id="form8" class="md-textarea"></textarea>&ndash;&gt;-->
              <!--</div>-->
              <!--<div class="col-sm-2">-->
                <!--<div *ngIf="user?.profileImage !=null " class="round-min z-depth-1"><img src="{{baseFile + 'fid='+user?.profileImage?.id + '&isThumb=true'}}" >-->
                <!--</div>-->
                <!--<div *ngIf="user?.profileImage ==null" class="round-min z-depth-1"><img src="../../../assets/images/avatat.png" >-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->
          <!--<p style="text-align: center" *ngIf="user==null">برای ارسال نظر وارد شوید</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>
<gallery-modal></gallery-modal>
