<app-header></app-header>
<br>
<br>
<br>
<br>
<div class="container" style="direction: rtl">


<!--<p>-->
  <!--بوکسام صحت جزوات را تضمین نمی‌کند و هیچ‌گونه تعهد یا مسئولیتی در قبال جزوات برعهده نمی‌گیرد.-->
<!--</p>-->
<!--<p>-->
  <!--مسئولیت استفاده از جزوات این سایت بر عهده شماست و بوکسام هیچ تعهدى در قبال خسارات مستقیم، اتفاقى، تبعى، غیرمستقیم و کیفرى، ندارد.-->
<!--</p>-->

<!--<h6 >کپی رایت</h6>-->
<!--<p>ما به حقوق دیگران احترام می گذاریم.چنانچه شاهد نقض قانون کپی رایت توسط اطلاعات درج شده در هر قسمت از بوکسام بودید لطفا ” به قسمت ارتباط با ما مراجعه کنید و با گزارش نقض قانون کپی رایت ما را مطلع کنید تا تصمیم های لازم اتخاذ شود.</p>-->

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="text-center">
        <h2 class="ui icon header">
          <div class="content">
            <h3>قوانین و شرایط استفاده از دانیتو</h3>
            <h6 class="sub header">با عضویت و استفاده در سایت، این قوانین را پذیرفتید.</h6>
          </div>
        </h2>
      </div>
      <br>
      <br>
      <div dir="rtl">
        <h3>محتوا</h3>
        <p>1-
          محتوای
          دانیتو ممکن است به صورت رایگان یا غیر رایگان عرضه شود. دانیتو همچنین حق کسب درآمد از راه های دیگر نظیر تبلیغات یا فروش داده را نزد خود محفوظ میدارد.
          <br>
          2- شما در ازای پرداخت هزینه برای هر نوع محتوا در دانیتو، "مجوز" استفاده از آن محتوا را دریافت میکنید نه حق "مالکیت" را.
          <br>
          3- محتوای دانیتو توسط کاربران آن تامین میشود و دانیتو مسولیتی را در قبال محتوای به اشتراک گذاشته شده، قبول نمیکند.
          <br>
          4- دانیتو حق خود میداند که جلوی حذف یا تغییر در محتوای به اشتراک گذاشته شده ی کاربر را از کاربری که آن را به اشتراک گذاشته، بگیرد.
          <br>
          5- دانیتو مسولیتی را در قبال نحوه ی گردآوری مطالب به اشتراک گذاشته شده و همچنین نحوه ی استفاده از آن ها را تحت هیچ شرایطی قبول نمیکند.
        </p>
        <h3>حساب کاربری</h3>
        <p>
          1- شما مجاز نیستید که نام کاربری و رمز ورود حساب خود را در اختیار هیچ کس دیگری قرار بدهید و یا به کسی اجازه بدهید به حساب شما و محتوای خریداری‌شده دسترسی پیدا کند. شما مسئول تمام استفاده‌ای هستید که از وبسایت و محتوای خریداری‌شده در ارتباط با حساب شما و نام کاربری و رمز ورود شما انجام می‌گیرد. همچنین مسئولیت صحت اطلاعاتی که در حساب خود وارد می‌کنید، تماما با خود شما است.
          <br>
          2- شما باید اطلاعات شخصی خود را به صورت "واقعی" در سیستم ثبت کنید در غیر این صورت مسولیت هرگونه اشکال در انجام عملیات دانیتو یا هرگونه عملیات مرتبط با شما در دانیتو بر عهده خودتان می باشد و دانیتو مسولیتی را قبول نمیکند.
          <br>
          3- دانیتو حق خود میداند که هر زمان براساس صلاحدید خود، حق دسترسی شما به حساب کاربری و اطلاعات مرتبط با آن را مسدود یا حذف نماید.
        </p>
        <h3>موارد دیگر</h3>
        <p>1-
          دانیتو تابع قوانین جمهوری اسلامی ایران می باشد و کاربران نیز ملزم به رعایت قوانین جمهوری اسلامی ایران در ارتباط خود با دانیتو و سایر کاربران آن می باشند.
          <br>
          2- این توافق نامه می تواند هر زمان  بدون اطلاع شما تغییر کند و شما با ادامه استفاده خودتان از دانیتو و سرویس های آن و همچنین محتوای آن، قوانین جدید را پذیرفته اید. البته دانیتو تلاش میکند تا تغییرات را به اطلاع شما برساند.
          <br>
          2- هرگونه خسارت ناشی از استفاده از دانیتو یا محتوای آن یا ارتباط با کاربران آن برعهده شما می باشد.
          <br>
          3- دانیتو تلاش میکند که قطعی و عدم دسترسی به سرویس را به حداقل کاهش دهد ولی تضمینی برای ارائه همیشگی خود یا محتوا نمیدهد.
          <br>
          4- دانیتو ممکن است تبلیغاتی را به کاربران نمایش دهد ولی مسولیتی را در قبال محتوای تبلیغات نمی پذیرد.
          <br>
          5- دانیتو ممکن است از کوکی (Cookie) ها برای ذخیره اطلاعات غیر شخصی شما روی دستگاهی که از آن جهت بهره مندی از دانیتو به کار میبرید، استفاده کند.
        </p>
      </div>
      <br>
      <br>
    </div>
  </div>

</div>




