<div class="col-sm-4">
  <!--<img style="padding-left: 0px;  padding-right: 0px;height: 210px ;width: 100%;object-fit: cover;" src="../../../../assets/4.jpg" >-->
  <img class="hand-cursor" [routerLink]="['/content/cat',category.id,category.title]" style="padding-left: 0px;  padding-right: 0px;height: 210px ;width: 100%;object-fit: cover;" [defaultImage]="'../../../../assets/Spin.svg'" [lazyLoad]="baseFile+'fid='+category.coverImage.id + '&isThumb=true'" >
</div>
