/*@import "../../../node_modules/owl-carousel-2/assets/owl.carousel.min.css";*/
/*@import "../../../node_modules/owl-carousel-2/assets/owl.theme.default.min.css";*/
@import '../../vars';

div ul li a {
  color: rgba(96,92,93,0.91);
}
div ul li a:hover {
  color: $primary-color;
}
.cat-item{
  border-right-width: 4px;
  height: 50px;
  padding-top: 13px;

  border-right-color: #3a7bd5;
  /*background-color:rgba(58,123,213,0.07) ;*/
  border-right-style: solid;
  text-align: right;
  padding-right: 10px;
}

.round {

  border-radius: 50%;

  overflow: hidden;
  float: left;
  width: 50px;
  height: 50px;
  /*left: 10%;*/
  /*position: relative;*/
  /*bottom: 50px;*/
}
.round img {
  display: block;
  margin :0px;
  padding: 0px;
  /* Stretch
        height: 100%;
        width: 100%; */
  width: 50px;
  height: 50px;
  /*background-color: #009688;*/
}
.active{
  color: $primary-color!important;
}


.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: $primary-color;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.nav-item-sign-in-up:hover{
  color: #ffFFff!important;
  background-color: #2E2E2E!important;
}
.header-title{
  color: $primary-color!important;
}
//.navbar{
//  height: 50px;
//  line-height: 25px;
//  transition:  all .5s;
//  -webkit-transition:  all .5s linear;
//
//}
//.big-nav{
//  height: 100px;
//  line-height: 70px;
//}
