<nav class="navbar navbar-dark navbar-sticky-top  header-bg-color navbar-expand-lg"  style="z-index: 999;">

  <!-- Collapse button-->
  <!--<button style="color: #252f41!important;" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseEx" aria-controls="collapseEx" aria-expanded="false" aria-label="Toggle navigation">-->
  <!--<i class="fa fa-list fa-lg waves-effect" aria-hidden="true"></i>-->
  <!--</button>-->




  <div class="container " style="margin-top: 15px">


    <ul class="navbar-nav mr-auto mt-lg-0">

      <li class="nav-item "   style="font-family: 'Mj_FlowB';float: right;font-size: 200%;margin-top: -15px">
        <a class="nav-link header-title" style=";padding-top: 10px;padding-bottom: 10px;font-size: 32px"> دانیتو </a>
        <!--<a class="nav-link " style="color: white;-webkit-text-stroke: 1px black;"> بوکسام </a>-->
      </li>
      <li class="nav-item" style="float: right;" >
        <a [routerLink]="['']" [routerLinkActive]="'nav-item-active'" [routerLinkActiveOptions]="{ exact: true }" class="nav-link waves-effect nav-item-hover"  > جزوه ها <i class="fa fa-book " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
      </li>

      <!--<li class="nav-item" style="float: right;" >-->
      <!--<a [routerLink]="['/book/home']" [routerLinkActive]="'nav-item-active'" class="nav-link waves-effect nav-item-hover"  > کتاب ها <i class="fa fa-book " aria-hidden="true"></i><span class="sr-only">(current)</span></a>-->
      <!--</li>-->

      <li  class="nav-item"  style="float: right;">
        <a [routerLink]="['/content/search']"  [routerLinkActive]="'nav-item-active'" class="nav-link waves-effect nav-item-hover"  > جست و جو <i class="fa fa-search " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item" (click)="openModal()" style="float: right;">
        <a class="nav-link waves-effect nav-item-hover"> دسته بندی <i class="fa fa-list-ul" aria-hidden="true"></i></a>
      </li>


      <li class="nav-item"   style="float: right;">
        <a [routerLink]="['/admin']" *ngIf="checkUserAuthority('ROLE_ADMIN')" [routerLinkActive]="'nav-item-active'"  class="nav-link waves-effect nav-item-hover"  > پنل مدیریت <i class="fa fa-cogs " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
      </li>

      <!--*ngIf="checkUserAuthority('ROLE_CONTENT_ADDER')"-->
      <!--<li class="nav-item"   style="float: right;">-->
      <!--<a [routerLink]="['/admin']" *ngIf="checkUserAuthority('ROLE_CONTENT_ADDER')" [routerLinkActive]="'nav-item-active'"  class="nav-link waves-effect nav-item-hover"  > جزوه جدید <i class="fa fa-cogs " aria-hidden="true"></i><span class="sr-only">(current)</span></a>-->
      <!--</li>-->


      <!--<li class="nav-item " (click)="getCity()"  [routerLinkActive]="['active']"   style="float: right">-->
      <!--<a class="nav-link"  > کتاب ها <i class="fa fa-address-book " aria-hidden="true"></i></a>-->
      <!--</li>-->
      <!--<li class="nav-item" [routerLink]="['/category']" [routerLinkActive]="['active']" style="float: right">-->
      <!--<a class="nav-link"> دسته بندی <i class="fa fa-list-ul" aria-hidden="true"></i></a>-->
      <!--</li>-->
      <!--data-toggle="modal" data-target="#myModal"-->








      <div style="display: inline-block;margin-top: 5px">
        <li *ngIf="user == null" class="nav-item" (click)="openLoginRegisterModal(true)"  style="">
          <a style="background-color: #3a7bd5;color: #ffFFff;font-size: 14px;padding-right: 30px;padding-left: 30px;" class="nav-link waves-effect nav-item-sign-in-up"> ورود کاربران</a>
        </li>

        <li *ngIf="user == null" class="nav-item" (click)="openLoginRegisterModal(false)"  style="">
          <a style=";background-color: #00C851;color: #ffFFff;font-size: 14px;padding-right: 30px;padding-left: 30px" class="nav-link waves-effect nav-item-sign-in-up"> عضویت </a>
        </li>
      </div>




      <li *ngIf="user != null" class="nav-item btn-group" style="">

        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: inline;float: right;margin-top: 3px" class="nav-link nav-item-sign-in-up"> {{user.username}}</a>
        <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: inline;float: right;margin-top: -3px;" *ngIf="user?.profileImage !=null " class="round z-depth-1 hand-cursor"><img src="{{fileBase + 'fid='+user?.profileImage?.id + '?token=' + token}}" >
        </div>
        <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: inline;float: right;margin-top: -3px;" *ngIf="user?.profileImage ==null" class="round z-depth-1 hand-cursor"><img src="../../../assets/images/avatat.png" >
        </div>


        <div class="dropdown-menu text-xs-right">
          <a class="dropdown-item" style="font-size: 12px" [routerLink]="['/panel/user/details']">  حساب کاربری  <i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="font-size: 12px" (click)="logOut()">  خروج  <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
        </div>
      </li>





      <!--<li class="nav-item" style="float:left">-->
      <!--<a class="nav-link" href="#">ورود <i class="fa fa-user-circle-o" aria-hidden="true"></i></a>-->
      <!--</li>-->
    </ul>

    </div>
  <!--</div>-->





</nav>








