.page-footer{
  background-color: #009688;
}
.bgcolor{
  /*background: #757F9A;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #D7DDE8, #757F9A); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
  /*background: #070000;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #070000, #4C0001, #070000); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
  background-color: #2E2E2E;
}
/*.bgcolor{*/
  /*background-color: #009688;*/
/*}*/
.bottom-row{
  /*background: #000000;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #53346D, #000000);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #53346D, #000000); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
  /*009688*/
  background-color: #212121;
}
p:focus{
  outline:none !important;
  border-width: 0px !important;
}



/* Wrapper */
.icon-button {
  background-color: white;
  border-radius: 1.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.0rem;
  height: 1.6rem;
  line-height: 1.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 1.6rem;
  margin: -.8rem;
}
.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.telegram span {
  background-color: #4099ff;
}

/* Icons */
.icon-button i {
  background: none;
  color: #4d2e7f;
  height: 1.6rem;
  left: 0;
  line-height: 1.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 1.6rem;
  z-index: 10;
}
.icon-button .fa-twitter {
  color: #4099ff;
}
.icon-button .fa-facebook {
  color: #3B5998;
}
.icon-button .fa-telegram {
  color: #4099ff;
}
.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-telegram {
  color: white;
}

.app-item:hover{
  color: #ffFFff!important;
  background-color: #18A187!important;
}
