@import "../../../../vars";
.custom-label{
  transform: translateY(-120%);
  font-size: 12px;
  margin-right: 50px;
  float: right!important;
  left: auto;
}
i{
  font-size: 20px!important;
}

.round-min {
  border-style: dashed;
  border-radius: 50%;
  border-color: $primary-color;
  border-width: 0px;
  overflow: hidden;
  width: 100px!important;
  height: 100px!important;
  float: left;
}
.round-min img {
  display: block;

  /* Stretch
        height: 100%;
        width: 100%; */
  width: 100px!important;
  height: 100px!important;
  background-color: $primary-color;
}
.card{
  border-radius: 4px;
}
.example-margin {
  margin: 0 10px;
}
.financial-header{
  width: 100%;
  height: 70px;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: $primary-color;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px
}
