
<div  class="col-md-6 wow fadeIn" style="margin-top: 20px;float: right!important;">

  <!--Card-->
  <div class="card card-cascade wider hand-cursor" >
    <div class="card-block text-xs-right">
      <h6 class="card-title" style=";direction: rtl"> <i class="fa fa-book " aria-hidden="true"></i> <strong>{{booklet?.title}}</strong></h6>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-8" style="padding-right: 0px">
              <h6 *ngIf="booklet?.price!=null" style="text-align: right">{{booklet?.price}}</h6>
              <h6  *ngIf="booklet?.price==null" style="text-align: right">مشخص نشده</h6>
              <p style="text-align: right;color: #252f41;font-size: 12px" >قیمت</p>
            </div>
            <div class="col-sm-4" >
              <!--<i class="material-icons md-24 colorPrimary-color">description</i>-->
              <i class="fa fa-money fa-lg" aria-hidden="true"></i>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-8" style="padding-right: 0px">
              <h6 *ngIf="booklet?.university?.title!=null" style="text-align: right">{{booklet?.university?.title}}</h6>
              <h6  *ngIf="booklet?.university?.title==null" style="text-align: right">مشخص نشده</h6>
              <p style="text-align: right;color: #252f41;font-size: 12px" >دانشگاه</p>
            </div>
            <div class="col-sm-4" >
              <!--<i class="material-icons md-24 colorPrimary-color">description</i>-->
              <i class="fa fa-university " aria-hidden="true"></i>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8" style="padding-right: 0px">
              <h6 *ngIf="booklet?.category?.title!=null" style="text-align: right">{{booklet?.category?.title}}</h6>
              <h6  *ngIf="booklet?.category?.title==null" style="text-align: right">مشخص نشده</h6>
              <p style="text-align: right;color: #252f41;font-size: 12px" >دسته بندی</p>
            </div>
            <div class="col-sm-4" >
              <!--<i class="material-icons md-24 colorPrimary-color">description</i>-->
              <i class="fa fa-list " aria-hidden="true"></i>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8" style="padding-right: 0px">
              <h6 *ngIf="booklet?.writer!=null" style="text-align: right">{{booklet.writer}}</h6>
              <h6  *ngIf="booklet?.writer==null" style="text-align: right">مشخص نشده</h6>
              <p style="text-align: right;color: #252f41;font-size: 12px" >نویسنده</p>
            </div>
            <div class="col-sm-4" >
              <!--<i class="material-icons md-24 colorPrimary-color">description</i>-->
              <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
            </div>
          </div>

        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-8" style="padding-right: 0px">
              <h6  *ngIf="booklet?.professor!=null" style="text-align: right">{{booklet?.professor}}</h6>
              <h6  *ngIf="booklet?.professor==null" style="text-align: right">مشخص نشده</h6>
              <p style="text-align: right;color: #252f41;font-size: 12px" >استاد</p>
            </div>
            <div class="col-sm-4" >
              <!--<i class="material-icons md-24 colorPrimary-color">description</i>-->
              <i class="fa fa-user fa-lg" aria-hidden="true"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8" style="padding-right: 0px">
              <h6 *ngIf="booklet?.pagesNum!=null" style="text-align: right">{{booklet.pagesNum}}</h6>
              <h6  *ngIf="booklet?.pagesNum==null" style="text-align: right">مشخص نشده</h6>
              <p style="text-align: right;color: #252f41;font-size: 12px" >تعداد صفحات</p>
            </div>
            <div class="col-sm-4" >
              <!--<i class="material-icons md-24 colorPrimary-color">description</i>-->
              <i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8" style="padding-right: 0px">
              <h6 *ngIf="booklet?.writeYear!=null" style="text-align: right">{{booklet.writeYear}}</h6>
              <h6  *ngIf="booklet?.writeYear==null" style="text-align: right">مشخص نشده</h6>
              <p style="text-align: right;color: #252f41;font-size: 12px" >سال انتشار</p>
            </div>
            <div class="col-sm-4" >
              <!--<i class="material-icons md-24 colorPrimary-color">description</i>-->
              <i class="fa fa-calendar-o fa-lg" aria-hidden="true"></i>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-8" style="padding-right: 0px">
              <label class="md-chip" *ngFor="let tag of booklet?.tags"  style="padding-right: 10px">
                {{tag.tagString}}
              </label>
              <p style="text-align: right;color: #252f41;font-size: 12px" >برچسب ها</p>
            </div>
            <div class="col-sm-4" >
              <!--<i class="material-icons md-24 colorPrimary-color">description</i>-->
              <i class="fa fa-tags fa-lg" aria-hidden="true"></i>
            </div>
          </div>




        </div>
      </div>
      <hr>
      <div class="row ">
        <div class="col-md-6">
          <label > :فایل ها <i class="fa fa-file fa prefix"></i></label>
          <div *ngFor="let file of booklet?.files">
            <a  [href]="fileBase + 'fid='+file.id" style="font-size: 16px;text-justify: auto;line-height: 20px">{{file?.description}}</a>
          </div>
        </div>

        <div class="col-md-6">
          <label > :نمونه ها <i class="fa fa-image fa prefix"></i></label>
        <div *ngFor="let image of booklet?.images">
          <a  [href]="fileBase + 'fid='+image.id + '&isThumb=true'" style="font-size: 16px;text-justify: auto;line-height: 20px">{{image?.id}}</a>
        </div>

        </div>

      </div>
      <div class="row">
        <label style="margin-right: 12px;margin-top: 12px"> :توضیحات <i class="fa fa-pencil-square-o fa prefix"></i></label>
        <p style="font-size: 16px;text-justify: auto;line-height: 20px;padding-left: 12px;padding-right: 12px">{{booklet?.description}}</p>
      </div>
    </div>
    <div class="card-footer-booklet" >
      <button [routerLink]="'/admin/content/edit/'+booklet.id"  type="button" class="btn btn-amber btn-sm" style="float: right">ویرایش مشخصات  </button>
      <label style="float: right;margin-top: 5px;margin-right: 5px;margin-left: 5px">:وضعیت</label>
      <div style="width: 25%;float: right;margin-top: 3px">
        <ng-select
          ngModel="{{ProductState[booklet.productState]}}"
          [options]="JozveStates"
          (selected)="changeJozveState($event,booklet)">
        </ng-select>
      </div>
      <button  type="button" (click)="editJozveState(booklet)" class="btn btn-success btn-sm" style="float: left;">تغییر وضعیت  </button>

      <div  style="clear:both"></div>
    </div>
  </div>

  <!--Evaluating, Published, Canceled, NeedChange, Archived-->

</div>


