i{
  font-size: 20px!important;
}

p {
  font-size: 10px !important;
  color: #53346D !important;
}
h6 {
  font-size: 12px !important;
  color: #53346D !important;
}
h5 {
  font-size: 14px !important;
}

a {
  font-size: 12px !important;
}



.parag {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  margin: 0 auto;
  font-size: 14px;
  height: 200px;
  line-height: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
