<nav class="navbar navbar-dark navbar-sticky-top  " style="background-color:#ffFFff;z-index: 999">

  <!-- Collapse button-->
  <!--<button class="navbar-toggler hidden-sm-up " type="button" data-toggle="collapse" data-target="#collapseEx">-->
    <!--<i class="fa fa-bars"></i>-->
  <!--</button>-->




  <div class="container " style="margin-top: 15px">

    <!--Collapse content-->
    <!--<div class="collapse navbar-toggleable-xs " id="collapseEx">-->
      <!--Navbar Brand-->
      <ul class="nav navbar-nav ">

        <li class="nav-item "   style="font-family: 'Mj_FlowB';float: right;font-size: 200%;margin-top: -15px">
          <a class="nav-link user-header" style="font-size: 32px"> حساب کاربری </a>
        </li>
        <li class="nav-item"  style="float: right;">
          <a class="nav-link nav-item-hover nav-font" [routerLink]="['/panel/user/details']" [routerLinkActive]="['nav-item-active']" > مشخصات کاربر <i class="fa fa-user " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item" style="float: right;">
          <a class="nav-link nav-item-hover nav-font" *ngIf="checkUserAuthority('ROLE_CONTENT_ADDER')" [routerLink]="['/panel/user/newContent']" [routerLinkActive]="['nav-item-active']"> جزوه جدید <i class="fa fa-book " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item"  style="float: right;">
          <a class="nav-link nav-item-hover nav-font" [routerLink]="['/panel/user/buyContents']"  [routerLinkActive]="['nav-item-active']"> محتوای خریداری شده <i class="fa fa-download " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item"   style="float: right;">
          <a class="nav-link nav-item-hover nav-font" *ngIf="checkUserAuthority('ROLE_CONTENT_ADDER')" [routerLink]="['/panel/user/myContents']" [routerLinkActive]="['nav-item-active']"> محتوای من <i class="fa fa-upload " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item" style="float: right;">
          <a class="nav-link nav-item-hover nav-font" [routerLink]="['/panel/user/financial/account']" [routerLinkActive]="['nav-item-active']"> امورمالی و فروش <i class="fa fa-money " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>





        <li class="nav-item" routerLink=""  >
          <a class="nav-link"> <i class="fa fa-home nav-item-hover" aria-hidden="true"></i>  صفحه اصلی</a>
        </li>



        <!--<li class="nav-item" style="float:left">-->
        <!--<a class="nav-link" href="#">ورود <i class="fa fa-user-circle-o" aria-hidden="true"></i></a>-->
        <!--</li>-->
      </ul>
      <!--Search form-->
      <!--<form class="form-inline" style="float: left">-->
      <!--<input class="form-control" type="text" placeholder="جست و جو">-->
      <!--</form>-->
    <!--</div>-->
    <!--/.Collapse content-->
  </div>
</nav>








