<app-header></app-header>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 " style="text-align: right">
      <br>
      <br>
      <p>Info@booksum.ir:پست الکترونیکی</p>
      <!--<p>شماره تلفن:34504430-031</p>-->
      <!--<p>آدرس:خیابان کاوه ایستگاه گلخانه کوچه فارابی پلاک 35 طبقه دوم</p>-->
    </div>
    <form class="col-md-6 card" [formGroup]="contactForm" style="direction: rtl!important;">
      <h4 class="z-depth-2" style="position: relative;top:-10px;padding-top: 20px;width: 100%;height: 70px;background-color: #009688;color: aliceblue;text-align: center;font-family: Yekan">تماس با ما</h4>

      <div class="card-block">

        <div class="md-form">
          <i style="margin-top: 10px" class="fa fa-envelope-o fa-lg prefix"></i>
          <input formControlName="email" style="margin-right: 50px" type="text" id="form3" class="form-control">
          <label class="custom-label"  for="form3">پست الکترونیک:</label>
          <p class="red-text" style="font-size: 10px" *ngIf="!contactForm.controls['email'].valid&&email.dirty">معتبر نیست</p>
        </div>

        <div class="md-form">
          <i style="margin-top: 10px" class="fa fa-comment-o fa-lg prefix"></i>
          <input formControlName="content" style="margin-right: 50px" type="text" id="form4" class="form-control">
          <label class="custom-label"  for="form4">پیام شما:</label>
        </div>

        <button [disabled]="!(contactForm.valid) || !contactForm.dirty" (click)="saveContactMessage()" style="float: left" type="button" class="btn btn-success" >ارسال</button>


      </div>
    </form>
  </div>
</div>

