<ul class="nav nav-tabs tabs-3 red z-depth-2" role="tablist">
  <!--<li class="nav-item">-->
    <!--<a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Profile</a>-->
  <!--</li>-->

  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active':!signInTap}" data-toggle="tab" href="#panel2" role="tab">ثبت نام</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active':signInTap}" data-toggle="tab" href="#panel1" role="tab">ورود</a>
  </li>
</ul>
<!-- Tab panels -->
<div class="tab-content card-block" style="padding-bottom: 0px">
  <!--Panel 1-->
  <!--<div class="tab-pane fade in show active" id="panel1" role="tabpanel">-->
    <!--<br>-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>-->
  <!--</div>-->
  <!--/.Panel 1-->
  <!--Panel 2-->
  <div class="tab-pane fade in show" [ngClass]="{'active':signInTap}"  style="direction: rtl" id="panel1" role="tabpanel">
    <br>
    <div class="md-form">
      <p >پست الکترونیک</p>
      <i class="fa fa-envelope prefix"></i>
      <input  #logemail style="margin-right: 50px;" type="email" id="form9" class="form-control validate test">
      <!--<label style="direction: rtl !important;" for="form9" data-error="wrong" data-success="right">Type your email</label>-->
    </div>

    <!--Password validation-->
    <div class="md-form">
      <p>رمز عبور</p>
      <i class="fa fa-lock prefix"></i>
      <input  #logpass style="margin-right: 50px" type="password" id="form10" class="form-control validate">
      <!--<label for="form10" data-error="wrong" data-success="right">Type your password</label>-->
    </div>

    <p style="color: red">{{logmessage}}</p>

    <br>
    <div class="text-center form-group row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <button (click)="login(logemail.value,logpass.value)" style="width: 100%;" class="btn btn-accent">ورود</button>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
  <!--/.Panel 2-->
  <!--Panel 3-->
  <div class="tab-pane fade in show" [ngClass]="{'active':!signInTap}"  style="direction: rtl" id="panel2" role="tabpanel">
  <form [formGroup]="complexForm" [ngClass]="{'active':!signInTap}" (ngSubmit)="register(regemail.value,regusername.value,regpass.value,complexForm.status)"  >
    <br>

    <div class="md-form">
      <p >نام کاربری</p>
      <i class="fa fa-user prefix"></i>
      <input   formControlName="uname"  #regusername style="margin-right: 50px;" type="text" id="form11" class="form-control validate test">
      <p class="red-text" *ngIf="!complexForm.controls['uname'].valid">حداقل ۶ حرف</p>
    </div>



    <div class="md-form">
      <p >پست الکترونیک</p>
      <i class="fa fa-envelope prefix"></i>
      <input #regemail formControlName="email"  style="margin-right: 50px;" type="email" id="form12" class="form-control validate test">
      <p class="red-text" *ngIf="!complexForm.controls['email'].valid&&email.dirty">معتبر نیست</p>
      <!--<label style="direction: rtl !important;" for="form9" data-error="wrong" data-success="right">Type your email</label>-->
    </div>

    <!--Password validation-->
    <div class="md-form">
      <p>رمز عبور</p>
      <i class="fa fa-lock prefix"></i>
      <input #regpass formControlName="pass" style="margin-right: 50px" type="password" id="form13" class="form-control validate">
      <!--<label for="form10" data-error="wrong" data-success="right">Type your password</label>-->
      <p class="red-text" *ngIf="!complexForm.controls['pass'].valid&&pass.dirty">لازم است</p>
    </div>
    <div class="md-form">
      <p>تکرار رمز عبور</p>
      <i class="  prefix"></i>
      <input formControlName="passrep"  #regpassrep style="margin-right: 50px" type="password" id="form14" class="form-control validate">
      <!--<label for="form10" data-error="wrong" data-success="right">Type your password</label>-->
      <p class="red-text" *ngIf="!complexForm.controls['passrep'].valid">تکرار رمز درست نیست</p>
    </div>

    <p style="color: red">{{regmessage}}</p>


    <br>
    <div class="text-center form-group row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <!--<button type="submit" style="width: 100%;padding-left: 0px;padding-right: 0px" class="btn colorPrimaryDark ">ثبت نام</button>-->
        <button type="submit" style="width: 100%;padding-left: 0px;padding-right: 0px" class="btn colorPrimaryDark " [disabled]="!complexForm.valid">ثبت نام</button>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </form>
  <!--/.Panel 3-->
  </div>
</div>
