<nav class="navbar navbar-dark navbar-fixed-top  " style="background-color:#ffFFff;z-index: 999">

  <!-- Collapse button-->
  <!--<button class="navbar-toggler hidden-sm-up " type="button" data-toggle="collapse" data-target="#collapseEx">-->
    <!--<i class="fa fa-bars"></i>-->
  <!--</button>-->




  <div class="container " style="margin-top: 15px">

    <!--Collapse content-->
    <!--<div class="collapse navbar-toggleable-xs " id="collapseEx">-->
      <!--Navbar Brand-->
      <ul class="nav navbar-nav ">

        <li class="nav-item "   style="font-family: 'Mj_FlowB';float: right;font-size: 200%;margin-top: -15px">
          <a class="nav-link header-title" style=";font-size: 32px"> پنل مدیریت </a>
          <!--<a class="nav-link " style="color: white;-webkit-text-stroke: 1px black;"> بوکسام </a>-->
        </li>
        <li class="nav-item"  style="float: right;">
          <a class="nav-link nav-item-hover" [routerLink]="['/admin/content/new']" [routerLinkActive]="['nav-item-active']" > جزوه جدید <i class="fa fa-book " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>


        <!--<li class="nav-item"  style="float: right;">-->
          <!--<a class="nav-link nav-item-hover" [routerLink]="['/admin/book/new']" [routerLinkActive]="['nav-item-active']" > کتاب جدید <i class="fa fa-book " aria-hidden="true"></i><span class="sr-only">(current)</span></a>-->
        <!--</li>-->

        <li class="nav-item"  style="float: right;">
          <a class="nav-link nav-item-hover" [routerLink]="['/admin/contents']" [routerLinkActive]="['nav-item-active']"> جزوه ها <i class="fa fa-comment-o " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item"   style="float: right;">
          <a class="nav-link nav-item-hover"  [routerLink]="['/admin/comments']"  [routerLinkActive]="['nav-item-active']" > نظرات <i class="fa fa-comment-o " aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>

        <!--<li class="nav-item " (click)="getCity()"  [routerLinkActive]="['active']"   style="float: right">-->
        <!--<a class="nav-link"  > کتاب ها <i class="fa fa-address-book " aria-hidden="true"></i></a>-->
        <!--</li>-->
        <!--<li class="nav-item" [routerLink]="['/category']" [routerLinkActive]="['active']" style="float: right">-->
        <!--<a class="nav-link"> دسته بندی <i class="fa fa-list-ul" aria-hidden="true"></i></a>-->
        <!--</li>-->
        <!--data-toggle="modal" data-target="#myModal"-->




        <li class="nav-item" routerLink=""  >
          <a class="nav-link nav-item-hover" > <i class="fa fa-home" aria-hidden="true"></i>  صفحه اصلی</a>
        </li>



        <!--<li class="nav-item" style="float:left">-->
        <!--<a class="nav-link" href="#">ورود <i class="fa fa-user-circle-o" aria-hidden="true"></i></a>-->
        <!--</li>-->
      </ul>
      <!--Search form-->
      <!--<form class="form-inline" style="float: left">-->
      <!--<input class="form-control" type="text" placeholder="جست و جو">-->
      <!--</form>-->
    <!--</div>-->
    <!--/.Collapse content-->


  </div>





</nav>
<br>
<br>
<br>







