<app-user-header></app-user-header>
<br>
<br>

<div class="container">
  <div *ngFor="let content of contents">
    <app-user-content [booklet]="content"></app-user-content>
  </div>
</div>
<br>
<br>
<br>
<br>
