<!--col-lg-3 col-md-4 col-sm-6 col-xs-12-->
<div [ngClass]="{'col-lg-3 col-md-4 col-sm-6 col-xs-12':!forCarousel,'fullwidth':forCarousel}"   class="wow fadeIn" style=";padding: 10px;float: right">

  <!--Card-->
  <div class="card card-cascade wider  hand-cursor " [routerLink] = "['/content',booklet?.uid,beautifyTitle]">

    <!--Card image-->
    <!--<div class="view overlay hm-white-slight">-->
      <!--<img class="img-fluid" style="width: 100%" src="../../assets/images/bookmock.png">-->
      <!--<a>-->
        <!--<div class="mask"></div>-->
      <!--</a>-->
    <!--</div>-->
    <!--/Card image-->

    <!--Card content-->
    <div class="card-header" style="border-bottom-left-radius: 0px;border-bottom-right-radius: 0px">
      <h6 class="card-title title" style="margin-top: 10px;font-size: 12px;direction: rtl;"> <i class="fa fa-book " ></i> <strong>{{booklet?.title|persainNumberPipe}}</strong></h6>
    </div>
    <div class="card-block text-xs-right" style="padding-bottom: 0px">
      <!--Title-->



      <div class="row">
        <div class="col-sm-6">
          <p mdTooltip="{{booklet?.category?.title}}" *ngIf="booklet?.category!=null" class="small-font colorRed-color" ><i class="fa fa-list " aria-hidden="true"></i>  {{booklet?.category?.title}} </p>
          <p *ngIf="booklet?.category==null" class="small-font colorRed-color" ><i class="fa fa-list " aria-hidden="true"></i>  مشخص نشده </p>
        </div>
        <div class="col-sm-6">
          <p *ngIf="booklet?.writeYear!=null" class="small-font colorPrimaryDark-color" ><i class="fa fa-calendar " aria-hidden="true"></i>  {{booklet?.writeYear|persainNumberPipe}} </p>
          <p *ngIf="booklet?.writeYear==null" class="small-font colorPrimaryDark-color" ><i class="fa fa-calendar " aria-hidden="true"></i>   مشخص نشده </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6"  >

          <p *ngIf="booklet?.university!=null" mdTooltip="{{booklet?.university?.title}}"  class="small-font colorPrimary-color text-xs-right" ><i class="fa fa-university " aria-hidden="true"></i>  {{booklet?.university?.title}} </p>
          <p *ngIf="booklet?.university==null" class="small-font colorPrimary-color text-xs-right" ><i class="fa fa-university " aria-hidden="true"></i>   مشخص نشده </p>

        </div>
        <div class="col-sm-6">
          <p mdTooltip="{{booklet?.professor}}" *ngIf="booklet?.professor!=null" class="small-font colorAccent-color" ><i class="fa fa-user " aria-hidden="true"></i> {{booklet?.professor}} </p>
          <p *ngIf="booklet?.professor==null" class="small-font colorAccent-color" ><i class="fa fa-user " aria-hidden="true"></i> مشخص نشده </p>
        </div>

      </div>


      <!--<hr>-->
      <!--<p class="card-text text-xs-center colorPrimary-color">۱۰۰۰۰ تومان </p>-->

      <!--Dribbble-->
      <!--<a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>-->
      <!--&lt;!&ndash;Linkedin&ndash;&gt;-->
      <!--<a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>-->
      <!--&lt;!&ndash;Google +&ndash;&gt;-->
      <!--<a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>-->
      <!--&lt;!&ndash;Instagram&ndash;&gt;-->
      <!--<a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>-->

    </div>
    <!--/.Card content-->

    <div class="card-footer-cus" >
      <!--<ul>-->
        <!--<li><i class="fa fa-clock-o"></i> 05/10/2015</li>-->
      <!--</ul>-->


      <!--<div class="round"><img src="../../../assets/images/avatat.png" >-->
      <!--</div>-->
      <!--<p style="font-size: 12px;text-align: center;color: #53346D;">مشاهده جزئیات</p>-->
      <button *ngIf="booklet?.price!=null && booklet?.price!=0" type="button" class="btn btn-mdb btn-sm" style="float: right">{{booklet?.price|persainNumberPipe}} تومان  </button>
      <button *ngIf="booklet?.price==null || booklet?.price==0" type="button" class="btn btn-mdb btn-sm" style="float: right">دانلود  </button>
      <div   style="clear:right"></div>
    </div>
  </div>
  <!--/.Card-->

</div>

