<div class="cat-dialog" >
  <h4 class="z-depth-2 category-header" style="">{{categoryHeader}}</h4>


  <div class="card-block">
    <p class="cat-item hand-cursor z-depth-1"  *ngFor="let cat of categories" (click)="openChildModal(cat.id,cat.title)"  >{{cat.title}}</p>

  </div>    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
  <!--<p class="cat-item hand-cursor z-depth-1"  *ngFor="let cat of categories" (click)="openModal()"  >{{cat.title}}</p>-->




</div>

