@import '../../vars';
.cat-item{
  border-right-width: 4px;
  height: 50px;
  padding-top: 13px;

  border-right-color: $primary-color-dark;
  /*background-color:rgba(58,123,213,0.07) ;*/
  border-right-style: solid;
  text-align: right;
  padding-right: 10px;
  width: 300px;
}

.category-header{
  padding-top: 20px;
  width: 100%;
  height: 70px;
  background-color: $primary-color;
  color: aliceblue;
  text-align: center;
  font-family: Yekan
}
