@import "../../../vars";

.booklet {
  margin-top: 30px !important;
}
.custom-label{
  transform: translateY(-120%);
  font-size: 12px;
  margin-right: 50px;
  float: right!important;
  left: auto;
}
i{
  font-size: 20px!important;
}
.search-header{
  position: relative;
  line-height: 50px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  height: 50px;
  background-color: $primary-color;
  color: aliceblue;
  text-align: center;
  font-family: Yekan;
}
.btn-accent{
  background-color: $accent-color!important;
}
.btn-accent:hover{
  background-color: $accent-color!important;
}
.btn-accent:active{
  background-color: $accent-color!important;
}
.btn-accent:focus{
  background-color: $accent-color!important;
}
.btn-accent:visited{
  background-color: $accent-color!important;
}
