
  <app-header></app-header>

<br>
<br>

  <div *ngIf="type=='search'" class="container card wow fadeIn" style="padding: 0px">
    <h4 class="z-depth-1 search-header" >جست و جو</h4>
    <form class="card-block" style="padding: 30px" [formGroup]="searchForm">

      <div class="row" >
        <div class="col-sm-6" style="direction: rtl!important;">
          <div class="row">
            <div class="md-form">
              <i style="margin-top: 10px" class="fa fa-user fa-lg prefix"></i>
              <input formControlName="professor" style="margin-right: 50px" type="text" id="form1" class="form-control">
              <label class="custom-label"  for="form1">استاد:</label>
            </div>
          </div>

          <div class="row">
            <div class="md-form">
              <i style="margin-top: 10px" class="fa fa-list fa-lg prefix"></i>
              <input (click)="openCategoryModal()" [value]="categorySearch?.title" style="margin-right: 50px" type="text" id="form5" class="form-control">
              <label class="custom-label" for="form5">دسته بندی:</label>
            </div>
          </div>

          <div class="row">
            <button style="float: left" type="button" (click)="findContent(0)" class="btn btn-success btn-accent" >جست و جو</button>
          </div>

        </div>


        <div class="col-sm-6" style="direction: rtl!important;">
          <div class="row">
            <div class="md-form">
              <i style="margin-top: 10px" class="fa fa-book fa-lg prefix"></i>
              <input formControlName="title" style="margin-right: 50px" type="text" id="form3" class="form-control">
              <label class="custom-label"  for="form3">نام جزوه:</label>
            </div>
          </div>
          <div class="row">
            <div class="md-form">
              <i style="margin-top: 10px" class="fa fa-calendar fa-lg prefix"></i>
              <input formControlName="writeYear" style="margin-right: 50px" type="text" id="form4" class="form-control">
              <label class="custom-label"  for="form4">سال انتشار:</label>
            </div>
          </div>
          <div style="margin-top: 10px" class="row">
            <div class="md-form">
              <i style="margin-top: 10px" class="fa fa-university fa-lg prefix"></i>
              <div style="margin-right: 40px;" *ngIf="universities.length > 0">
                <ng-select
                  [options]="universities"
                  (selected)="selectUniversity($event)"

                >

                </ng-select>
              </div>
              <label style="transform: translateY(-180%)!important;" class="custom-label"   >دانشگاه:</label>
            </div>
          </div>
        </div>
      </div>


    </form>
  </div>

<div class="container"

      >
  <h6 style="float: right;display: block ;padding-top: 10px;padding-right: 15px" >{{title}}</h6>
  <br style="clear: right">

  <div style="" *ngFor="let j of booklets">
     <app-booklet  [booklet]="j"></app-booklet>
  </div>

</div>
<!--<div class="container wow fadeInUp">-->
    <!--<button *ngIf="showMore" type="button" style="margin-left: 15px" (click)="loadMore()"  class="btn btn-dark-green btn-sm">بیشتر</button>-->
<!--</div>-->

<br>
<br>
<br>

