.round {

  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: 150px;
  /*left: 10%;*/
  /*position: relative;*/
  /*bottom: 50px;*/
}
.round img {
  display: block;
  margin :0px;
  padding: 0px;
  /* Stretch
        height: 100%;
        width: 100%; */
  width: 100%;
  height: 150px;
  /*background-color: #009688;*/
}
