
<div  class="col-md-3 wow fadeIn" style="margin-top: 20px;float: right">

  <!--Card-->
  <div class="card card-cascade wider hand-cursor " >

    <!--Card image-->
    <!--<div class="view overlay hm-white-slight">-->
    <!--<img class="img-fluid" style="width: 100%" src="../../assets/images/bookmock.png">-->
    <!--<a>-->
    <!--<div class="mask"></div>-->
    <!--</a>-->
    <!--</div>-->
    <!--/Card image-->

    <!--Card content-->
    <div class="card-block text-xs-right">
      <!--Title-->
      <h6 [routerLink] = "['/content',booklet?.id,booklet?.title]" class="card-title" style="font-size: 14px;direction: rtl"> <i class="fa fa-book " aria-hidden="true"></i> <strong>{{booklet?.title}}</strong></h6>
      <hr>

      <div class="row">
        <div class="col-sm-6">
          <p mdTooltip="{{booklet?.category?.title}}" *ngIf="booklet?.category!=null" class="small-font colorRed-color" ><i class="fa fa-list " aria-hidden="true"></i>  {{booklet?.category?.title}} </p>
          <p *ngIf="booklet?.category==null" class="small-font colorRed-color" ><i class="fa fa-list " aria-hidden="true"></i>  مشخص نشده </p>
        </div>
        <div class="col-sm-6">
          <p *ngIf="booklet?.writeYear!=null" class="small-font colorPrimaryDark-color" ><i class="fa fa-calendar " aria-hidden="true"></i>  {{booklet?.writeYear}} </p>
          <p *ngIf="booklet?.writeYear==null" class="small-font colorPrimaryDark-color" ><i class="fa fa-calendar " aria-hidden="true"></i>   مشخص نشده </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6"  >

          <p *ngIf="booklet?.university!=null" mdTooltip="{{booklet?.university?.title}}"  class="small-font colorPrimary-color text-xs-right" ><i class="fa fa-university " aria-hidden="true"></i>  {{booklet?.university?.title}} </p>
          <p *ngIf="booklet?.university==null" class="small-font colorPrimary-color text-xs-right" ><i class="fa fa-university " aria-hidden="true"></i>   مشخص نشده </p>

        </div>
        <div class="col-sm-6">
          <p mdTooltip="{{booklet?.professor}}" *ngIf="booklet?.professor!=null" class="small-font colorAccent-color" ><i class="fa fa-user " aria-hidden="true"></i> {{booklet?.professor}} </p>
          <p *ngIf="booklet?.professor==null" class="small-font colorAccent-color" ><i class="fa fa-user " aria-hidden="true"></i> مشخص نشده </p>
        </div>

      </div>


      <!--<hr>-->
      <!--<p class="card-text text-xs-center colorPrimary-color">۱۰۰۰۰ تومان </p>-->

      <!--Dribbble-->
      <!--<a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>-->
      <!--&lt;!&ndash;Linkedin&ndash;&gt;-->
      <!--<a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>-->
      <!--&lt;!&ndash;Google +&ndash;&gt;-->
      <!--<a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>-->
      <!--&lt;!&ndash;Instagram&ndash;&gt;-->
      <!--<a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>-->

    </div>
    <!--/.Card content-->

    <div class="card-footer-booklet" >

      <label style="margin: 10px;float: right">:وضعیت</label>
      <div style="width: 70%;margin-top: 5px;margin-left: 5px">
        <div *ngIf="booklet.productState.toString() == ProductState[ProductState.Published] ||
               booklet.productState.toString() == ProductState[ProductState.Archived]  ">
          <ng-select
            ngModel="{{ProductState[booklet.productState]}}"
            [options]="userAccessStates"
            (selected)="changeJozveState($event,booklet)">
          </ng-select>
        </div>
        <div *ngIf="booklet.productState.toString() != ProductState[ProductState.Published] &&
               booklet.productState.toString() != ProductState[ProductState.Archived]">
          <h6 class="md-chip" style="margin-bottom: 0px;text-align: right;font-size: 12px">{{PersianProductState[ProductState[booklet.productState]]}}</h6>
        </div>
      </div>
    <div style="clear: both"></div>
    <button [routerLink]="'/panel/user/edit/'+booklet.id" style="float: right"  type="button" class="btn btn-accent btn-sm" >ویرایش </button>

    <button  [disabled]="booklet.productState.toString() != ProductState[ProductState.Published] &&
               booklet.productState.toString() != ProductState[ProductState.Archived]"
            type="button" (click)="editJozveState(booklet)" class="btn btn-success btn-sm" style="">تغییر وضعیت  </button>

      <div  style="clear:both"></div>

  </div>
  <!--/.Card-->

</div>

</div>

