.round {
  border-style: dashed;
  border-radius: 50%;
  border-color: #009688;
  border-width: 2px;
  overflow: hidden;
  float: left;
  width: 50px;
  height: 50px;
  left: 10%;
  position: relative;
  bottom: 25px;
}
.round img {
  display: block;

  /* Stretch
        height: 100%;
        width: 100%; */
  min-width: 100%;
  min-height: 100%;
  background-color: #009688;
}
.small-font{
  font-size: 10px;
}
.card-footer-booklet{
  border-top-style: dashed;
  border-top-color: #009688;
  border-top-width: 2px;
}
/*p {*/
/*width: 50px;*/
/*white-space: nowrap;*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*}*/
p{
  white-space:nowrap;
  direction: rtl;
  max-height: 1.8em;
  /*width: 40px;*/
  text-overflow: ellipsis;
  overflow: hidden;

}

.md-chip {
  display: inline-block;
  background: #e0e0e0;
  padding: 0 6px;
  margin-top: 0px;
  border-radius: 32px;
  font-size: 13px;
}
.card:hover {
  border: 1px solid rgba(82, 100, 127, 0.7);
  box-shadow: none;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: none;

}
