<app-header ></app-header>
<!--<app-slider></app-slider>-->

<div *ngFor="let wc of this.webComponents;let i = index">

  <div [ngSwitch]="wc.componentType">
    <div *ngSwitchCase="sliderSectionType">
      <app-slider [sliderSection]="wc.sliderSection"></app-slider>

    </div>
    <div *ngSwitchCase="jozzveSectionType">
      <app-booklet-carousel [car_id] = "'car' + i" [jozzveSection]="wc.jozzveSection"></app-booklet-carousel>
    </div>
    <div *ngSwitchCase="specialJozzveType">
      <app-special-booklet [specialBooklet]="wc.specialJozzve"></app-special-booklet>
    </div>
    <div *ngSwitchCase="categorySectionType">
      <app-category-section [car_id]="'car' + i" [categorySection]="wc.categorySection"></app-category-section>
    </div>
  </div>
</div>
<br>


<!--<app-booklet-carousel [car_id] = "'car2'"></app-booklet-carousel>-->
<!--<app-booklet-carousel [car_id] = "'car3'"></app-booklet-carousel>-->
