<br>
<br>
<div class="container wow fadeIn">
  <!--<div class="cat-title z-depth-4  colorPrimaryDark" style="height: 30px" >-->
    <!--<p class="text-xs-center" style="color: #e8e8e8;">دسته بندی</p>-->
  <!--</div>-->
  <!--<div class="card card-cascade wider custom-bg1 z-depth-2" style="width: 100%;height: 250px ;" >-->
    <h6 style="float: right ;padding-right: 30px;" >{{categorySection.title}}</h6>
   <br>
    <div style="position:relative" class="">
      <i *ngIf="categoryPages.length > 1" class="fa fa-chevron-right fa-2x NewNextBtn hand-cursor opacity-hover"  [attr.href] = "'#'+car_id"  data-slide="next" style="position: absolute;
  top: 110px; color:#252f41;
  right: 5px;"></i>
      <!--href="#{{id}}"-->
      <i *ngIf="categoryPages.length > 1" class="fa fa-chevron-left fa-2x NewPrevBtn hand-cursor opacity-hover" [attr.href] = "'#'+car_id"  data-slide="prev" style="position: absolute;
  top: 110px;
  left: 5px; color:#252f41 "></i>
      <!--book-carousel-->

      <div class="card-block">
      <div id="{{car_id}}" #car class="carousel slide carousel-multi-item" data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item" *ngFor="let cp of this.categoryPages;let i = index"  [ngClass]="{'active': i === 0}">
            <div *ngFor="let cat of cp.categories;let j = index">
               <app-category-item [category]="cat"></app-category-item>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
