.custom-border{
  border-style: dashed;
  border-radius: 1%;
  border-color: #ffFFff;
  border-width: 2px;
}
.text-color{
  color: #e8e8e8;

}
.custom-bg{
  background: #E6DADA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.custom-bg2{
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.custom-bg1{
  background: #EFEFBB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cat-title{

  position: relative;
  left: 40%;
  top: 10px;
  width: 20%;
  z-index: 1;
}
