.custom-label{
  transform: translateY(-120%);
  font-size: 12px;
  margin-right: 50px;
  float: right!important;
  left: auto;
}
i{
  font-size: 20px!important;
}
.example-margin {
  margin: 0 10px;
}

.card{
  border-radius: 5px;
}


input[type=email]:focus:not([readonly]){
  border-bottom: 1px solid #00C851;
  box-shadow: 0 1px 0 0 #00C851;
}
input[type=password]:focus:not([readonly]){
  border-bottom: 1px solid #00C851;
  box-shadow: 0 1px 0 0 #00C851;
}

input[type=text]:focus:not([readonly]){
  border-bottom: 1px solid #00C851;
  box-shadow: 0 1px 0 0 #00C851;
}
input[type=text]:focus:not([readonly]) + label{
  color: #00C851!important;

}
input[type=password]:focus:not([readonly]) + label{
  color: #00C851!important;
}
input[type=email]:focus:not([readonly]) + label{
  color: #00C851!important;
}
textarea:focus:not([readonly]) + label{
  color: #00C851!important;
}
.md-form .prefix.active{
  color: #00C851;
}
.require{
  color: #00C851;
  font-size: 14px;
  padding: 5px;
}
