<app-user-header></app-user-header>
<app-user-financial-header></app-user-financial-header>
<br>
<br>
<br>
<div class="container wow fadeIn" style="direction: rtl">

      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>شماره پرداخت</th>
          <th>مبلغ(تومان)</th>
          <th>تاریخ</th>
          <th>نام محتوا</th>
          <th>وضعیت</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let tran of payments;let i = index">
          <th scope="row">{{i+1|persainNumberPipe}}</th>
          <td>{{tran.id|persainNumberPipe}}</td>
          <td>{{tran.amount|persainNumberPipe}}</td>
          <td>{{tran.creationDate|jalaaliPipe|persainNumberPipe}}</td>
          <td>{{tran.product.title}}</td>
          <td>{{tran.paymentState}}</td>
        </tr>

        </tbody>
      </table>
</div>
<br>
<br>
<br>
