<nav class="navbar navbar-dark  header-bg-color z-depth-1 " style="z-index: 900;padding-bottom: 0px">


  <div class="container " style="margin-top: 5px">

    <!--Collapse content-->
    <!--<div class="collapse navbar-collapse navbar-toggleable-sm" id="collapseEx">-->
    <!--Navbar Brand-->
    <ul class="nav navbar-nav ">


      <li class="nav-item" style="float: right;" >
        <a [routerLink]="['/panel/user/financial/account']" *ngIf="checkUserAuthority('ROLE_CONTENT_ADDER')" [routerLinkActive]="'sub-nav-item-active'" class="nav-link waves-effect sub-nav-item-hover"  > مشخصات حساب مالی<span class="sr-only">(current)</span></a>
      </li>

      <li  class="nav-item"  style="float: right;">
        <a [routerLink]="['/panel/user/financial/as-payer-transactions']"  [routerLinkActive]="'sub-nav-item-active'" class="nav-link waves-effect sub-nav-item-hover"  > پرداخت های کاربر <span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item"  style="float: right;">
        <a [routerLink]="['/panel/user/financial/as-paid-transactions']" *ngIf="checkUserAuthority('ROLE_CONTENT_ADDER')" [routerLinkActive]="'sub-nav-item-active'"  class="nav-link waves-effect sub-nav-item-hover"  > تراکنش ها <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item"   style="float: right;">
        <a [routerLink]="['/panel/user/financial/pony']" *ngIf="checkUserAuthority('ROLE_CONTENT_ADDER')" [routerLinkActive]="'sub-nav-item-active'"  class="nav-link waves-effect sub-nav-item-hover"  > تسویه حساب ها <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>
