@import "../../vars";
th{
  text-align: right!important;
}
.factor-header{
  padding-top: 10px;
  width: 100%;
  height: 50px;
  background-color: $primary-color;
  color: aliceblue;
  text-align: center;
  font-family: Yekan
}


.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
a:focus{
  outline: 0px;
}
