<div class="cat-dialog" >
  <h4 class="z-depth-2 factor-header" style="" >فاکتور خرید</h4>

  <div class="card-block wow fadeIn" style="direction: rtl">

    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>نام محتوا</th>
        <th>مبلغ(تومان)</th>

      </tr>
      </thead>
      <tbody>

      <tr>
        <th scope="row">1</th>
        <td>{{content.title}}</td>
        <td>{{content.price}}</td>
      </tr>

      </tbody>
    </table>
    <div class="row">
      <div class="col-sm-4">
        <div  *ngIf="connectionCode==0" class="loader"></div>
      </div>
      <div class="col-sm-8">
        <a  [disabled] = "connectionCode==0" [href]="'https://www.zarinpal.com/pg/StartPay/' + connectionCode" target="_blank">
          <button class="icon-button telegram" class="btn btn-accent">  پرداخت {{content.price}} تومان</button>
        </a>
      </div>
    </div>


  </div>   <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
  <!--<p class="cat-item hand-cursor z-depth-1"  *ngFor="let cat of categories" (click)="openModal()"  >{{cat.title}}</p>-->




</div>
