<app-admin-pannel></app-admin-pannel>

<div class="container">

  <br>
  <br>
      <div class="row">
        <div class="col-md-3">
          <input [disabled] = "!categoryFilter"  (click)="openCategoryModal()" [value]="category?.title" style="margin-top: -20px;text-align: right"  type="text" class="form-control">
        </div>
        <div class="col-md-3" >

          <md-slide-toggle [color]="'primary'" (change)="categorySelection($event)">دسته بندی</md-slide-toggle>
        </div>
        <div class="col-md-3">
          <ng-select
            ngModel="0"
            [options]="JozveStates"
            (selected)="changeBookletsState($event)">
          </ng-select>
        </div>
        <div class="col-md-3">
          <p style="float: left">نمایش جزوه های</p>
        </div>
      </div>


  <hr>
  <div class="box"  *ngFor="let booklet of booklets;let i = index">
      <app-admin-booklet (onChangeState)="changeContentState($event)" [booklet]="booklet"></app-admin-booklet>
  </div>
  <div style="clear: both"></div>
  <div class="container wow fadeIn">
    <button *ngIf="showMore" type="button" style="margin-left: 15px" (click)="loadMore()"  class="btn btn-dark-green btn-sm">بیشتر</button>
  </div>

</div>

