.carousel-indicators{
  bottom: -50px;
}
.carousel-indicators li {
  border-color: #00796B;
}

.carousel-indicators li.active{
  border-color: #00796B;
  background-color: #00C851;
}

img:hover {
  cursor: pointer;
  cursor: hand;
}
