<!--<div style="position:relative" class="">-->

  <!--&lt;!&ndash;<i class="fa fa-chevron-right fa-3x NewNextBtn" href="#multi-item-example" data-slide="next" style="position: absolute;&ndash;&gt;-->
  <!--&lt;!&ndash;top: 150px;&ndash;&gt;-->
  <!--&lt;!&ndash;right: -40px;"></i>&ndash;&gt;-->

  <!--&lt;!&ndash;<i class="fa fa-chevron-left fa-3x NewPrevBtn"  href="#multi-item-example" data-slide="prev" style="position: absolute;&ndash;&gt;-->
  <!--&lt;!&ndash;top: 150px;&ndash;&gt;-->
  <!--&lt;!&ndash;left: -40px;"></i>&ndash;&gt;-->

  <!--<div id="multi-item-example" class="carousel slide carousel-multi-item wow fadeIn" data-ride="carousel">-->

    <!--<div class="carousel-inner" role="listbox">-->
      <!--&lt;!&ndash;First slide&ndash;&gt;-->

      <!--<div  class="carousel-item " *ngFor="let sp of this.sliderPages;let i = index"  [ngClass]="{'active': i === 0}">-->
        <!--<div class="col-sm-4"  style="padding-left: 0px;  padding-right: 0px; height: 250px" *ngFor="let s of sp.sliders ;let i = index">-->
          <!--&lt;!&ndash;<img  style="width: 100% ;height: 100%;cursor: hand" [src]="s.imageUrl"  >&ndash;&gt;-->
          <!--<img *ngIf="s.sliderType=='Content'" [routerLink]="['/content',s.product.uid,beautifyTitle(s.product.title)]" style="width: 100% ;height: 100%;cursor: hand" [src]="baseFile + 'fid='+s.image.id"  >-->
          <!--<img *ngIf="s.sliderType=='Category'" [routerLink]="['/content/cat',s.category.id,s.category.title]" style="width: 100% ;height: 100%;cursor: hand" [src]="baseFile + 'fid='+s.image.id+ '&isThumb=true'"  >-->
          <!--&lt;!&ndash;<img style="width: 100% ;height: 100%;cursor: hand" src="../../assets/4.jpg"  >&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash;<div class="col-md-4 hidden-sm-down" style="padding-left: 0px;  padding-right: 0px;">&ndash;&gt;-->
          <!--&lt;!&ndash;<img style="width: 100%" src="../../assets/logolo.jpg" >&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-4 hidden-sm-down" style="padding-left: 0px;  padding-right: 0px;">&ndash;&gt;-->
          <!--&lt;!&ndash;<img style="width: 100%" src="../../assets/logolo.jpg" >&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--</div>-->


      <!--&lt;!&ndash;/.First slide&ndash;&gt;-->

      <!--&lt;!&ndash;Second slide&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="carousel-item"  >&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-4"  style="padding-left: 0px;  padding-right: 0px;">&ndash;&gt;-->
          <!--&lt;!&ndash;<img style="width: 100%" src="../../assets/logolo.jpg" >&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-4 hidden-sm-down"  style="padding-left: 0px;  padding-right: 0px;">&ndash;&gt;-->
          <!--&lt;!&ndash;<img style="width: 100%" src="../../assets/logolo.jpg" >&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-4 hidden-sm-down"  style="padding-left: 0px;  padding-right: 0px;">&ndash;&gt;-->
          <!--&lt;!&ndash;<img style="width: 100%" src="../../assets/logolo.jpg" >&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;/.Second slide&ndash;&gt;&ndash;&gt;&ndash;&gt;-->

      <!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;Third slide&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="carousel-item"  >&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-4"  style="padding-left: 0px;  padding-right: 0px;">&ndash;&gt;-->
          <!--&lt;!&ndash;<img style="width: 100%" src="../../assets/logolo.jpg" >&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-4 hidden-sm-down"  style="padding-left: 0px;  padding-right: 0px;">&ndash;&gt;-->
          <!--&lt;!&ndash;<img style="width: 100%" src="../../assets/logolo.jpg" >&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-md-4 hidden-sm-down"  style="padding-left: 0px;  padding-right: 0px;">&ndash;&gt;-->
          <!--&lt;!&ndash;<img style="width: 100%" src="../../assets/logolo.jpg" >&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;/.Third slide&ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash;/.Slides&ndash;&gt;-->

    <!--<ol class="carousel-indicators">-->
      <!--<li *ngFor="let sp of sliderPages,let i = index" data-target="#multi-item-example" [attr.data-slide-to]="i" [ngClass]="{'active': i === 0}"></li>-->
      <!--&lt;!&ndash;<li data-target="#multi-item-example" data-slide-to="1"></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li data-target="#multi-item-example" data-slide-to="2"></li>&ndash;&gt;-->
    <!--</ol>-->

  <!--</div>-->
<!--</div>-->


<div class="container-fluid" style="width: 100%;padding: 0px;">

  <owl-carousel
    #owlElement
    style="width: 100%"
    [options]="{dots: true,
        autoplay:true,
        autoplayTimeout:5000,
        autoplayHoverPause:true,
        loop:true,
        responsiveClass:true,
        responsive:{
        '0':{
            items:1
        },
        '500':{
            items:2
        },
        '1000':{
            items:3
        }
       }
    }"
    [items]="sliderSection?.sliderList"
    [carouselClasses]="['owl-theme']">
    <div class="item" *ngFor="let slider of sliderSection?.sliderList;let i = index">
      <img *ngIf="slider.sliderType=='Content'" [routerLink]="['/content',slider.product.uid,beautifyTitle(slider.product.title)]" style="width: 100% ;height: 100%;cursor: hand" [src]="baseFile + 'fid='+slider.image.id"  >
    </div>
  </owl-carousel>
</div>


