
<!--<br>-->
<!--<br>-->
<!--<div class="container wow fadeIn">-->
  <!--<div class="card card-cascade wider custom-bg z-depth-2" style="width: 100%; ;border-radius: 5px" >-->
    <!--<div class="row">-->

      <!--<div class="col-sm-8 col-xs-12">-->
        <!--<img [routerLink]="['/content/',specialBooklet.content.uid,beautifyTitle]" style="height: 250px; width:90%;margin: 25px  ;object-fit: cover;" class="custom-border hand-cursor" [src]="baseFile + 'fid='+ specialBooklet?.posterImage?.id">-->
      <!--</div>-->

      <!--<div class="col-sm-4 col-xs-12">-->
        <!--<div class="card-block text-xs-right" style="direction: rtl">-->
          <!--<br>-->
          <!--<h6 class="medium-font text-color"><strong><i class="fa fa-book " aria-hidden="true"></i> {{specialBooklet?.content?.title}}</strong> </h6>-->
          <!--<hr>-->

          <!--<p class="medium-font text-color"  > <i class="fa fa-list " aria-hidden="true"></i> {{specialBooklet?.content?.category?.title}} </p>-->

          <!--<p class="medium-font text-color" ><i class="fa fa-calendar " aria-hidden="true"></i>  {{specialBooklet?.content?.writeYear}} </p>-->


          <!--<p class="medium-font text-color" > <i class="fa fa-university " aria-hidden="true"></i> {{specialBooklet?.content?.university?.title}} </p>-->

          <!--<p class="medium-font text-color " ><i class="fa fa-user " aria-hidden="true"></i>  {{specialBooklet?.content?.professor}} </p>-->

          <!--<button [routerLink]="['/booklet/',specialBooklet.content.id,specialBooklet.content.title]" *ngIf="specialBooklet?.content?.price!=0" type="button" class="btn btn-success btn-sm " style="direction: rtl;float: right">{{specialBooklet?.content?.price}} تومان  </button>-->
          <!--<button [routerLink]="['/booklet/',specialBooklet.content.id,specialBooklet.content.title]" *ngIf="specialBooklet?.content?.price==0" type="button" class="btn btn-success btn-sm" style="float: right">دانلود</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->



<br>
<br>
<div class="container-fluid wow fadeIn custom-bg" style="padding: 0px">
  <div class=""  style="width: 100%;height: 250px ;border-radius: 0px" >

    <!--<div class="row hand-cursor" [routerLink]="['/content/',specialBooklet.content.uid,beautifyTitle]" [style.background-image]="'url('+ baseFile + 'fid='+ specialBooklet?.posterImageWeb?.id + ')'" style="background-size: 100% 300px !important;background-repeat: no-repeat!important;padding-right: 50px" >-->
    <div class="row hand-cursor" [routerLink]="['/content/',specialBooklet.content.uid,beautifyTitle]" [style.background-image]="'url(../../../assets/images/com-org-wide.jpg)'" style="background-size: 100% 300px !important;background-repeat: no-repeat!important;padding-right: 20%" >

        <div class="card-block text-xs-right" style="direction: rtl" >
        <br>
        <h6 class="medium-font text-color"><strong><i class="fa fa-book " aria-hidden="true"></i> {{specialBooklet?.content?.title|persainNumberPipe}}</strong> </h6>
        <hr>

            <p class="medium-font text-color"  > <i class="fa fa-list " aria-hidden="true"></i> {{specialBooklet?.content?.category?.title}} </p>

            <p class="medium-font text-color" ><i class="fa fa-calendar " aria-hidden="true"></i>  {{specialBooklet?.content?.writeYear|persainNumberPipe}} </p>


            <p class="medium-font text-color" > <i class="fa fa-university " aria-hidden="true"></i> {{specialBooklet?.content?.university?.title}} </p>

            <p class="medium-font text-color " ><i class="fa fa-user " aria-hidden="true"></i>  {{specialBooklet?.content?.professor}} </p>

            <button [routerLink]="['/booklet/',specialBooklet.content.id,specialBooklet.content.title]" *ngIf="specialBooklet?.content?.price!=0" type="button" class="btn btn-success btn-sm " style="direction: rtl;float: right">{{specialBooklet?.content?.price|persainNumberPipe}} تومان  </button>
            <button [routerLink]="['/booklet/',specialBooklet.content.id,specialBooklet.content.title]" *ngIf="specialBooklet?.content?.price==0" type="button" class="btn btn-success btn-sm" style="float: right">دانلود</button>
        </div>
    </div>
  </div>

</div>


<br>
<br>
