.custom-border{
  border-style: dashed;
  border-radius: 1%;
  border-color: #ffFFff;
  border-width: 2px;
}
.text-color{
  color: #e8e8e8;

}
.custom-bg{

  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #53346D, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #53346D, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
