.round-min {
  border-style: dashed;
  border-radius: 50%;
  border-color: #009688;
  border-width: 0px;
  overflow: hidden;
  width: 50px!important;
  height: 50px!important;
  float: left;
}
.round-min img {
  display: block;

  /* Stretch
        height: 100%;
        width: 100%; */
  width: 50px!important;
  height: 50px!important;
  background-color: #009688;
}
