<app-admin-header></app-admin-header>
<br>
<br>
<div class="row">
  <div class="col-md-9">
    <div style="width: 200px;float: right">
      <ng-select
        ngModel="0"
        [options]="CommentStates"
        (selected)="changeCommentsState($event)">
      </ng-select>
    </div>

  </div>
  <div class="col-md-3">
    <p style="float: left">نمایش نظرات</p>
  </div>

</div>
<div class="card-block">
  <div class="row">
    <div *ngIf="comments?.length!=0" class="card-block">
      <div *ngFor="let c of comments">



        <div class="row"  style="margin-bottom: 10px;">


          <div class="col-sm-3">
            <div class="row">
              <div class="col-md-6" style="padding-top: 20px">
                <ng-select #select

                  [options]="CommentStates"
                  (selected)="changeCommentState($event,c)">
                </ng-select>
              </div>
              <div class="col-md-6">
                <star-rating-comp [readOnly]="true" [showHalfStars]="true" style="margin-left: 50%;direction: ltr" [starType]="'svg'"  [rating]="c.rate"></star-rating-comp>
              </div>
            </div>
            <button type="button" (click)="editComment(c)" style="margin-top: 0px!important;"  class="btn btn-dark-green btn-sm">ذخیره</button>


          </div>
          <div class="col-sm-7 text-xs-right" style="padding-top: 5px;">
            <h6 *ngIf="c.createdBy?.firstName!=null">{{c.createdBy?.firstName}}</h6>
            <h6 *ngIf="c.createdBy?.firstName==null">{{c.createdBy?.username}}</h6>
            <p>{{c.description}}</p>
          </div>

          <div class="col-sm-2">

            <div *ngIf="c.createdBy?.profileImage !=null " class="round-min z-depth-1"><img src="{{baseFile + 'fid='+c.createdBy?.profileImage?.id+ '&isThumb=true'}}" >
            </div>
            <div *ngIf="c.createdBy?.profileImage ==null" class="round-min z-depth-1"><img src="../../../assets/images/avatat.png" >
            </div>
          </div>

        </div>




        <hr>
      </div>
    </div>
  </div>

</div>
