/*.loader,*/
/*.loader:before,*/
/*.loader:after {*/
  /*border-radius: 50%;*/
/*}*/
/*.loader {*/
  /*color: #008080;*/
  /*font-size: 11px;*/
  /*text-indent: -99999em;*/
  /*margin: 55px auto;*/
  /*position: relative;*/
  /*width: 10em;*/
  /*height: 10em;*/
  /*box-shadow: inset 0 0 0 1em;*/
  /*-webkit-transform: translateZ(0);*/
  /*-ms-transform: translateZ(0);*/
  /*transform: translateZ(0);*/
/*}*/
/*.loader:before,*/
/*.loader:after {*/
  /*position: absolute;*/
  /*book: '';*/
/*}*/
/*.loader:before {*/
  /*width: 5.2em;*/
  /*height: 10.2em;*/
  /*background: #ffffff;*/
  /*border-radius: 10.2em 0 0 10.2em;*/
  /*top: -0.1em;*/
  /*left: -0.1em;*/
  /*-webkit-transform-origin: 5.2em 5.1em;*/
  /*transform-origin: 5.2em 5.1em;*/
  /*-webkit-animation: load2 2s infinite ease 1.5s;*/
  /*animation: load2 2s infinite ease 1.5s;*/
/*}*/
/*.loader:after {*/
  /*width: 5.2em;*/
  /*height: 10.2em;*/
  /*background: #ffffff;*/
  /*border-radius: 0 10.2em 10.2em 0;*/
  /*top: -0.1em;*/
  /*left: 5.1em;*/
  /*-webkit-transform-origin: 0px 5.1em;*/
  /*transform-origin: 0px 5.1em;*/
  /*-webkit-animation: load2 2s infinite ease;*/
  /*animation: load2 2s infinite ease;*/
/*}*/
/*@-webkit-keyframes load2 {*/
  /*0% {*/
    /*-webkit-transform: rotate(0deg);*/
    /*transform: rotate(0deg);*/
  /*}*/
  /*100% {*/
    /*-webkit-transform: rotate(360deg);*/
    /*transform: rotate(360deg);*/
  /*}*/
/*}*/
/*@keyframes load2 {*/
  /*0% {*/
    /*-webkit-transform: rotate(0deg);*/
    /*transform: rotate(0deg);*/
  /*}*/
  /*100% {*/
    /*-webkit-transform: rotate(360deg);*/
    /*transform: rotate(360deg);*/
  /*}*/
/*}*/


.wrapper {


  margin: auto;
  display: block;
  width: 88px;
}

.cssload-loader {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin: 5em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.cssload-loader {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin: 5em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.cssload-loader,
.cssload-loader:before,
.cssload-loader:after {
  animation: 0.7s infinite ease-in-out;
  -o-animation: 0.7s infinite ease-in-out;
  -ms-animation: 0.7s infinite ease-in-out;
  -webkit-animation: 0.7s infinite ease-in-out;
  -moz-animation: 0.7s infinite ease-in-out;
}
.cssload-loader:before,
.cssload-loader:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.cssload-loader:before,
.cssload-loader:after {
  content: "";
}
.cssload-loader:before {
  border: 2px solid rgb(24,161,135);
  top: -2px;
  left: -2px;
  opacity: 0;
  animation-name: cssload-pulse;
  -o-animation-name: cssload-pulse;
  -ms-animation-name: cssload-pulse;
  -webkit-animation-name: cssload-pulse;
  -moz-animation-name: cssload-pulse;
}



.cssload-loader:after {
  background-color: rgb(24,161,135);
  animation-name: cssload-pulse-2;
  -o-animation-name: cssload-pulse-2;
  -ms-animation-name: cssload-pulse-2;
  -webkit-animation-name: cssload-pulse-2;
  -moz-animation-name: cssload-pulse-2;
}



@keyframes cssload-pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.3); opacity: 0; }
  100% { transform: scale(1.3); opacity: 0; }
}

@-o-keyframes cssload-pulse {
  0% { -o-transform: scale(1); opacity: 1; }
  50% { -o-transform: scale(1.3); opacity: 0; }
  100% { -o-transform: scale(1.3); opacity: 0; }
}

@-ms-keyframes cssload-pulse {
  0% { -ms-transform: scale(1); opacity: 1; }
  50% { -ms-transform: scale(1.3); opacity: 0; }
  100% { -ms-transform: scale(1.3); opacity: 0; }
}

@-webkit-keyframes cssload-pulse {
  0% { -webkit-transform: scale(1); opacity: 1; }
  50% { -webkit-transform: scale(1.3); opacity: 0; }
  100% { -webkit-transform: scale(1.3); opacity: 0; }
}

@-moz-keyframes cssload-pulse {
  0% { -moz-transform: scale(1); opacity: 1; }
  50% { -moz-transform: scale(1.3); opacity: 0; }
  100% { -moz-transform: scale(1.3); opacity: 0; }
}

@keyframes cssload-pulse-2 {
  0% { transform: scale(1); }
  50% { transform: scale(0.7); }
  100% { transform: scale(1); }
}

@-o-keyframes cssload-pulse-2 {
  0% { -o-transform: scale(1); }
  50% { -o-transform: scale(0.7); }
  100% { -o-transform: scale(1); }
}

@-ms-keyframes cssload-pulse-2 {
  0% { -ms-transform: scale(1); }
  50% { -ms-transform: scale(0.7); }
  100% { -ms-transform: scale(1); }
}

@-webkit-keyframes cssload-pulse-2 {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(0.7); }
  100% { -webkit-transform: scale(1); }
}

@-moz-keyframes cssload-pulse-2 {
  0% { -moz-transform: scale(1); }
  50% { -moz-transform: scale(0.7); }
  100% { -moz-transform: scale(1); }
}
