/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/*"ng2-cache-service": "^1.1.1",*/
/*"angular-star-rating": "^2.0.3",*/
/*@import url("assets/ng2-select.css");*/





/*"prestart": "ng build --prod && ngc && webpack",*/
/*"start": "node dist/server.js",*/
/*"build": "ng build",*/
/*"test": "ng test",*/

@import "vars";


@font-face {
  font-family: 'IRANSans-web';
  src: url('assets/fonts/IRANSans-web.eot');
  /* IE9 Compat Modes */

  src: url('assets/fonts/IRANSans-web.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
  url('assets/fonts/IRANSans-web.woff2') format('woff2'),
    /* Super Modern Browsers */
  url('assets/fonts/IRANSans-web.woff') format('woff'),
    /* Pretty Modern Browsers */
  url('assets/fonts/IRANSans-web.ttf') format('truetype')
  /* Legacy iOS */

}

@font-face {
  font-family: 'Mj_FlowB';
  src: url('assets/fonts/Mj_FlowB.eot');
  /* IE9 Compat Modes */

  src: url('assets/fonts/Mj_FlowB.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */

  url('assets/fonts/Mj_FlowB.woff') format('woff'),
    /* Pretty Modern Browsers */
  url('assets/fonts/Mj_FlowB.ttf') format('truetype')
  /* Legacy iOS */
}

@font-face {
  font-family: 'Yekan';
  src: url('assets/fonts/Yekan.eot');
  /* IE9 Compat Modes */

  src: url('assets/fonts/Yekan.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */

  url('assets/fonts/Yekan.woff') format('woff'),
    /* Pretty Modern Browsers */
  url('assets/fonts/Yekan.ttf') format('truetype')
  /* Legacy iOS */
}


/*font-family:Roboto,"Helvetica Neue",sans-serif*/

body {
  font-family: 'IRANSans-web', sans-serif;
  background-color: #fafafa;
}


.colorPrimary{
  background-color:#009688 ;
}
.colorPrimaryDark{
  background-color: #00796B;
}
.colorAccent{
  background-color:#FF9800;
}



md-dialog-container::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

md-dialog-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  /*border-radius: 10px;*/
  background-color: #F5F5F5;
}

md-dialog-container::-webkit-scrollbar-thumb {
  /*border-radius: 10px;*/
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  /*background-color: #009688;*/
  background-color: $primary-color;
}



.colorPrimary-color{
  color:#009688 ;
}

.colorPrimaryDark-color{
  color:#009688 ;
}
.colorAccent-color{
  color:#FF9800;
}
.colorRed-color{
  color: #D50000;
}

.small-font{
  font-size: 10px;
}
.medium-font{
  font-size: 14px;
}
.hand-cursor {
  cursor: pointer!important;
  cursor: hand!important;
}
.hand-cursor-shadow {
  cursor: pointer;
  cursor: hand;
}
.hand-cursor-shadow:hover {
  cursor: pointer;
  cursor: hand;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn-accent{
  background-color: $accent-color!important;
}
.btn-accent:hover{
  background-color: $accent-color!important;
}
.btn-accent:active{
  background-color: $accent-color!important;
}
.btn-accent:focus{
  background-color: $accent-color!important;
}
.btn-accent:visited{
  background-color: $accent-color!important;
}


.opacity-hover{
  opacity: 0.6;

}
.opacity-hover:hover{
  opacity: 0.8;
}


.mat-tooltip
{
  font-family: 'IRANSans-web', sans-serif !important;
  font-size: 12px !important;
}
.mat-tab-label{
  font-family: 'IRANSans-web', sans-serif !important;
  font-size: 12px !important;
}
.mat-tab-body-content{
  font-family: 'IRANSans-web', sans-serif !important;
  font-size: 12px !important;
}



.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px;vertical-align: middle;}
.material-icons.md-24 { font-size: 24px;vertical-align: middle; }
.material-icons.md-36 { font-size: 36px;vertical-align: middle;}
.material-icons.md-48 { font-size: 48px;vertical-align: middle;}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
/*`<color name="colorPrimary">#009688</color>*/
/*<color name="colorPrimaryDark">#00796B</color>*/
/*<color name="colorAccent">#FF9800</color>`*/
/*"@types/jquery": "^2.0.39",*/
/*"@types/node": "^6.0.42",*/
/*"owl-carousel-2": "0.0.3",*/

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 350px;
  /*bottom = footer height */
  /*padding: 25px;*/
}
footer {
  /*background-color: orange;*/
  position: absolute;
  left: 0;
  bottom: 0;
  height: 350px;
  width: 100%;
  overflow:hidden;
}
body { padding-right: 0 !important }


md-dialog-container{
  background-color: white !important;
  padding: 0px !important;

}
/*.md-form .prefix.active{*/
/*color: #009688;*/
/*}*/
/*label .active{*/
/*color: #009688;*/
/*}*/

/*.md-form .prefix {*/
/*color: #243949;*/
/*}*/

/*.md-form .prefix.active {*/
/*color: #00796B;*/
/*}*/

.md-form .prefix.active{
  color: $accent-color;
}



input[type=email]:focus:not([readonly]){
  border-bottom: 1px solid $accent-color;
  box-shadow: 0 1px 0 0 $accent-color;
}
input[type=password]:focus:not([readonly]){
  border-bottom: 1px solid $accent-color;
  box-shadow: 0 1px 0 0 $accent-color;
}

input[type=text]:focus:not([readonly]){
  border-bottom: 1px solid $accent-color;
  box-shadow: 0 1px 0 0 $accent-color;
}
input[type=text]:focus:not([readonly]) + label{
  color: $accent-color!important;

}
input[type=password]:focus:not([readonly]) + label{
  color: $accent-color!important;
}
input[type=email]:focus:not([readonly]) + label{
  color: $accent-color!important;
}
textarea:focus:not([readonly]) + label{
  color: $accent-color!important;
}



input:-webkit-autofill {
  background-color: #ffFFff !important;
  background-image:none !important;
  color: #000000 !important;
}


snack-bar-container.success{
  background-color: $primary-color!important;
  align-items: center!important;
  justify-content: center!important;
  display: flex!important;
}

snack-bar-container.error{
  background-color: #D50000!important;
  align-items: center!important;
  justify-content: center!important;
  display: flex!important;
}

rl-tag-input-item{
  font-family: 'IRANSans-web', sans-serif !important;
  direction: ltr!important;
}
.rl-autocomplete-item{
  font-family: 'IRANSans-web', sans-serif !important;
}

.ng2-tag-input-field{
  font-family: 'IRANSans-web', sans-serif !important;
}


.mat-simple-snackbar-message{
  font-family: 'IRANSans-web', sans-serif!important;;
  font-size: 12px;
  margin: 0!important;
}
.mat-simple-snackbar{
  font-family: 'IRANSans-web', sans-serif!important;
  font-size: 12px;
  margin: 0!important;
}


.g-modal{
  z-index: 1000!important;
}

.mat-slide-toggle-content{
  font-family: 'IRANSans-web', sans-serif!important;
}




select-dropdown > div .options ul li{
  font-family: 'IRANSans-web', sans-serif!important;
}

ng-select > div > div.single > div.value, ng-select > div > div.single > div.placeholder{
  font-family: 'IRANSans-web', sans-serif!important;
}


.ng2-menu-item{
  font-family: 'IRANSans-web' !important;
  text-align: right;
}
.ng2-tag-input__text-input{
  font-family: 'IRANSans-web' !important;
}
.tag__text{
  font-family: 'IRANSans-web' !important;
}



.md-chip {
  display: inline-block;
  background: #e0e0e0;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 13px;
}
.md-chip-hover:hover {
  background: #ccc;
}


.md-chip-clickable {
  cursor: pointer;
}

.md-chip, .md-chip-icon {
  height: 32px;
  line-height: 32px;
}


/* Styling for the Slim Loading Progress Bar container */
.slim-loading-bar {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

/* Styling for the Slim Loading Progress Bar itself */
.slim-loading-bar-progress {
  margin: 0;
  padding: 0;
  z-index: 99998;
  background-color: $primary-color-dark;
  color: $primary-color-dark;
  box-shadow: 0 0 10px 0; /* Inherits the font color */
  height: 2px;
  opacity: 0;

  /* Add CSS3 styles for transition smoothing */
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


span{
  font-family: 'IRANSans-web' !important;
}
input{
  font-family: 'IRANSans-web' !important;
}


.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $primary-color;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}



.nav-item-hover{
  color: #262626;
  background-color: #ffFFff;
}

.nav-item-hover:hover{
  color: #ffFFff!important;
  background-color: $primary-color;
  border-radius: 3px;
}

.nav-item-active{
  color: #ffFFff!important;
  background-color: $primary-color;
  border-radius: 3px;
}


.header-bg-color{
  background-color: #ffFFff;
}

.nav-link{
  margin-right: 4px;
  margin-left: 4px;
  font-size: 13px;

}



//"../node_modules/uikit/dist/css/uikit.min.css",
//"../node_modules/uikit/dist/js/uikit.min.js",
//"../node_modules/uikit/dist/js/uikit-icons.min.js"
