<app-user-header></app-user-header>
<br>
<br>
<div class="container">

  <div class="card wow fadeIn">
    <h5 class="z-depth-1-half" style="border-top-left-radius: 5px;border-top-right-radius: 5px;position: relative;padding-top: 15px; ;width: 100%;height: 50px;background-color: #00C851;color: aliceblue;text-align: center;font-family: Yekan">مشخصات جزوه</h5>
    <div class="card-block">

      <form [formGroup]="jozveForm"  class="card-block">

        <div class="col-sm-6" style="direction: rtl!important;">

          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-money fa-lg prefix"></i>
            <input formControlName="price" style="margin-right: 50px" type="text" id="form2" class="form-control">
            <label class="custom-label"  for="form2"><span class="require">*</span>قیمت:</label>
          </div>
          <br>
          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-university fa-lg prefix"></i>
            <div style="margin-right: 40px;" *ngIf="universities.length > 0">
              <ng-select
                #univSelect
                [options]="universities"
                (selected)="selectUniversity($event)"
              >

              </ng-select>
            </div>
            <label style="transform: translateY(-180%)!important;" class="custom-label"   >دانشگاه:</label>
          </div>




          <!--<div class="md-form">-->
            <!--<i style="margin-top: 10px" class="fa fa-pencil fa-lg prefix"></i>-->
            <!--<input formControlName="writer" style="margin-right: 50px" type="text" id="form4" class="form-control">-->
            <!--<label class="custom-label"   for="form4">نویسنده:</label>-->
          <!--</div>-->


          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-calendar-o fa prefix"></i>
            <input formControlName="writeYear" style="margin-right: 50px" type="text" id="form10" class="form-control">
            <label class="custom-label"  for="form10">سال انتشار:</label>
          </div>

          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-list fa-lg prefix"></i>
            <input (click)="openCategoryModal()" [value]="category?.title" style="margin-right: 50px" type="text" id="form5" class="form-control">
            <label class="custom-label" for="form5"><span class="require">*</span>دسته بندی:</label>
          </div>




        </div>


        <div class="col-sm-6" style="direction: rtl!important;">
          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-book fa-lg prefix"></i>
            <input formControlName="title" style="margin-right: 50px" type="text" id="form1" class="form-control">
            <label class="custom-label"  for="form1"><span class="require">*</span>نام جزوه:</label>
          </div>

          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-user fa-lg prefix"></i>
            <input formControlName="prof" style="margin-right: 50px" type="text" id="form7" class="form-control">
            <label class="custom-label"   for="form7">استاد:</label>
          </div>

          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-file-text-o fa prefix"></i>
            <input formControlName="pages" style="margin-right: 50px" type="text" id="form8" class="form-control">
            <label class="custom-label"  for="form8"><span class="require">*</span>تعداد صفحات:</label>
          </div>




          <br>
          <div class="md-form">
            <i style="margin-top: 10px" class="fa fa-pencil-square-o fa prefix"></i>
            <textarea  formControlName="desc" style=";margin-right: 50px;height: 100px;" type="text" id="form9" class="form-control"></textarea>
            <label class="custom-label" style="transform: translateY(-170%);"  for="form9"><span class="require">*</span>توضیحات:</label>
          </div>



        </div>

      </form>


      <!--[onlyFromAutocomplete]="true"-->
      <div class="md-form card-block" style="direction: rtl!important;">
        <i style="margin-top: 10px" class="fa fa-tags fa-lg prefix"></i>
        <tag-input style="margin-right: 50px" [onlyFromAutocomplete]="true" [onTextChangeDebounce]="'300'"  (onRemove)="onRemoveTag($event)"
                   (onAdd)= "onAddTag($event)"
                   [(ngModel)]="ngModelTags" (onTextChange) ="getAutoCompleteTags($event) ">
          <tag-input-dropdown [autocompleteItems]="autocompleteBookletTags">
          </tag-input-dropdown>
        </tag-input>
        <label class="custom-label"   >برچسب ها:</label>
      </div>

    </div>
  </div>

  <!--new - content-->

  <!-- files-->
  <div class="card wow fadeIn" *ngIf="modificationType==ModificationType.New">
    <h5 class="z-depth-1-half" style="border-top-left-radius: 5px;border-top-right-radius: 5px;position: relative;padding-top: 15px; ;width: 100%;height: 50px;background-color: #33b5e5;color: aliceblue;text-align: center;font-family: Yekan">افزودن فایل</h5>
    <div class="card-block">
      <div class="col-md-9">
        <div class="wow fadeIn" *ngFor="let file of files;let i = index">
          <label >{{file.name}} - {{file.size|fileSize}}</label>
          <!--<label style="float: right">: توضیح</label>-->
          <!--<input style="float: right;width: 40%;margin-bottom: 10px;text-align: right" type="text">-->
          <label *ngIf="fileProccesses[i].complete" style="float: right;font-size: 10px">اتمام بارگزاری</label>
          <label *ngIf="!fileProccesses[i].complete&&fileProccesses[i].progress>0" style="float: right;font-size: 10px">در حال بارگزاری</label>

          <md-progress-bar
            class="example-margin"
            [mode]="'determinate'"
            [value]="fileProccesses[i].progress"
            [bufferValue]="bufferValue">
          </md-progress-bar>
          <button [disabled]="fileProccesses[i].progress>0" (click)="uploadFile(file,FileType.Jozve,i)" style="float: right" class="btn btn-dark-green btn-sm">بارگزاری</button>
          <button [disabled]="fileProccesses[i].progress>0" (click)="files.splice(i,1)" style="float: right" class="btn btn-danger btn-sm">حذف</button>
          <br>
          <br>
        </div>


      </div>
      <div class="col-md-3">

        <button (click)="ii.click()" style="float: right" class="btn btn-info btn-sm">انتخاب فایل</button>
        <input #ii type="file" style="display: none" (change)="openFileBrowser($event,FileType.Jozve)" multiple  /><br/>

        <!--Single-->
        <!--<input type="file" ng2FileSelect [uploader]="uploader" />-->
      </div>



    </div>

  </div>

  <!-- sample images-->
  <div class="card wow fadeIn" *ngIf="modificationType==ModificationType.New">
    <h5 class="z-depth-1-half" style="border-top-left-radius: 5px;border-top-right-radius: 5px;position: relative;padding-top: 15px; ;width: 100%;height: 50px;background-color: #ef6c00;color: aliceblue;text-align: center;font-family: Yekan">افزودن نمونه</h5>
    <div class="card-block">
      <div class="col-md-9">
        <div class="wow fadeIn" *ngFor="let file of sampleImages;let i = index">
          <label >{{file.name}} - {{file.size|fileSize}}</label>
          <!--<label style="float: right">: توضیح</label>-->
          <!--<input style="float: right;width: 40%;margin-bottom: 10px;text-align: right" type="text">-->
          <label *ngIf="imagesProgresses[i].complete" style="float: right;font-size: 10px">اتمام بارگزاری</label>
          <label *ngIf="!imagesProgresses[i].complete&&imagesProgresses[i].progress>0" style="float: right;font-size: 10px">در حال بارگزاری</label>
          <md-progress-bar
          class="example-margin"
          [mode]="'determinate'"
          [value]="imagesProgresses[i].progress"
          [bufferValue]="bufferValue">
        </md-progress-bar>
          <button [disabled]="imagesProgresses[i].progress>0" (click)="uploadFile(file,FileType.Image,i)"  style="float: right" class="btn btn-dark-green btn-sm">بارگزاری</button>
          <button [disabled]="imagesProgresses[i].progress>0" (click)="files.splice(i,1)" style="float: right" class="btn btn-danger btn-sm">حذف</button>
          <br>
          <br>
        </div>


      </div>
      <div class="col-md-3">


        <button (click)="sample.click()" style="float: right" class="btn btn-amber btn-sm">انتخاب نمونه</button>
        <input #sample type="file" style="display: none" (change)="openFileBrowser($event,FileType.Image)" multiple  /><br/>

        <!--Single-->
        <!--<input type="file" ng2FileSelect [uploader]="uploader" />-->
      </div>
    </div>
  </div>

  <!--end of new content-->




  <!--edit content-->

  <!-- files-->
  <div class="card wow fadeIn" *ngIf="modificationType==ModificationType.Edit">
    <h5 class="z-depth-1-half" style="border-top-left-radius: 5px;border-top-right-radius: 5px;position: relative;padding-top: 15px; ;width: 100%;height: 50px;background-color: #33b5e5;color: aliceblue;text-align: center;font-family: Yekan">فایل ها</h5>
    <div class="card-block">
      <div style="float: right;display: inline-block!important;margin-left: 20px" class="wow fadeIn col-sm-3" *ngFor="let file of content?.files;let i = index">
        <a style="font-size: 12px" [href]="base+'file/content/'+file.id+'?contentId='+content.id+'&token='+token">
          {{file.description}} - {{file.size|fileSize}}</a>
        <!--<div  style="display: inline">-->
          <!--<ng-select-->
            <!--ngModel="{{AccessType[file.accessType]}}"-->
            <!--[options]="fileAccessType"-->
            <!--(selected)="changeFileAcessType($event,i)">-->
          <!--</ng-select>-->
        <!--</div>-->
        <button class="btn btn-danger btn-sm" (click)="content.files.splice(i,1);content?.files.splice(i,1)">حذف</button>
        <br>
        <br>
      </div>
    </div>

    <div class="card-block">
        <div class="col-md-9">
          <div class="wow fadeIn" *ngFor="let file of files;let i = index">
              <div *ngIf="!fileProccesses[i].complete">
                  <label >{{file.name}} - {{file.size|fileSize}}</label>
                  <!--<label style="float: right">: توضیح</label>-->
                  <!--<input style="float: right;width: 40%;margin-bottom: 10px;text-align: right" type="text">-->
                  <label *ngIf="fileProccesses[i].complete" style="float: right;font-size: 10px">اتمام بارگزاری</label>
                  <label *ngIf="!fileProccesses[i].complete&&fileProccesses[i].progress>0" style="float: right;font-size: 10px">در حال بارگزاری</label>

                  <md-progress-bar
                    class="example-margin"
                    [mode]="'determinate'"
                    [value]="fileProccesses[i].progress"
                    [bufferValue]="bufferValue">
                  </md-progress-bar>
                  <button [disabled]="fileProccesses[i].progress>0" (click)="uploadFile(file,FileType.Jozve,i)" style="float: right" class="btn btn-dark-green btn-sm">بارگزاری</button>
                  <button [disabled]="fileProccesses[i].progress>0" (click)="files.splice(i,1)" style="float: right" class="btn btn-danger btn-sm">حذف</button>
                  <br>
                  <br>
            </div>
          </div>

        </div>
        <div class="col-md-3">


          <button (click)="ii.click()" style="float: right" class="btn btn-info btn-sm">انتخاب فایل</button>
          <input #ii type="file" style="display: none" (change)="openFileBrowser($event,FileType.Jozve)" multiple  /><br/>

          <!--Single-->
          <!--<input type="file" ng2FileSelect [uploader]="uploader" />-->
        </div>

      </div>


  </div>

  <!-- sample images-->
  <div class="card wow fadeIn" *ngIf="modificationType==ModificationType.Edit">
    <h5 class="z-depth-1-half" style="border-top-left-radius: 5px;border-top-right-radius: 5px;position: relative;padding-top: 15px; ;width: 100%;height: 50px;background-color: #ef6c00;color: aliceblue;text-align: center;font-family: Yekan">نمونه ها</h5>
    <div class="card-block">
      <div class="col-md-3 " style="float: right" *ngFor="let image of content.images; let i = index" >
        <!--<div class="view overlay hm-brown-light hand-cursor" (click)="gallery.set(i)">-->
        <img [src]="baseFile+'fid='+image.id + '&isThumb=true'" class="img-fluid hand-cursor" (click)="gallery.set(i)" alt="">
        <div class="mask flex-center">
          <p class="white-text">{{image.description}}</p>
        </div>
        <!--</div>-->
        <br>
        <!--<div  style="display: inline">-->
          <!--<ng-select-->
            <!--ngModel="{{AccessType[image.accessType]}}"-->
            <!--[options]="fileAccessType"-->
            <!--(selected)="changeImageAcessType($event,i)">-->
          <!--</ng-select>-->
        <!--</div>-->
        <button class="btn btn-danger btn-sm" (click)="content.images.splice(i,1)">حذف</button>
      </div>
    </div>

    <div class="card-block">
      <div class="col-md-9">
        <div class="wow fadeIn" *ngFor="let file of sampleImages;let i = index">
          <div *ngIf="!imagesProgresses[i].complete">
            <label >{{file.name}} - {{file.size|fileSize}}</label>
            <label *ngIf="!imagesProgresses[i].complete&&imagesProgresses[i].progress>0" style="float: right;font-size: 10px">در حال بارگزاری</label>
            <md-progress-bar
              class="example-margin"
              [mode]="'determinate'"
              [value]="imagesProgresses[i].progress"
              [bufferValue]="bufferValue">
            </md-progress-bar>
            <button [disabled]="imagesProgresses[i].progress>0" (click)="uploadFile(file,FileType.Image,i)"  style="float: right" class="btn btn-dark-green btn-sm">بارگزاری</button>
            <button [disabled]="imagesProgresses[i].progress>0" (click)="files.splice(i,1)" style="float: right" class="btn btn-danger btn-sm">حذف</button>
            <br>
            <br>
          </div>
        </div>
      </div>
      <div class="col-md-3">


        <button (click)="sample.click()" style="float: right" class="btn btn-amber btn-sm">انتخاب نمونه</button>
        <input #sample type="file" style="display: none" (change)="openFileBrowser($event,FileType.Image)" multiple  /><br/>

        <!--Single-->
        <!--<input type="file" ng2FileSelect [uploader]="uploader" />-->
      </div>
    </div>
  </div>

  <!--end of edit content-->


  <button *ngIf="modificationType==ModificationType.New" (click)="saveJozve()" style="float: left"
          class="btn btn-dark-green btn-sm">افزودن جزوه</button>
  <button *ngIf="modificationType==ModificationType.Edit"  (click)="editJozve()" style="float: left"
          class="btn btn-dark-green btn-sm">ویرایش جزوه</button>
<br>
<br>
  <gallery-modal></gallery-modal>


</div>

