.custom-label{
  transform: translateY(-120%);
  font-size: 12px;
  margin-right: 50px;
  float: right!important;
  left: auto;
}
i{
  font-size: 20px!important;
}


.card{
  border-radius: 5px;
}
.require{
  color: #00C851;
  font-size: 14px;
  padding: 5px;
}
